<center><h1 style="color:red;">Abstract</h1></center><br><br>
<center><h1 style="color:red;">Restaurants Recommendation System  </h1></center><br><br>
<b>
The dataset is obtained from a recommender system prototype from UCI Machine Learning
Repository of Restaurant and Consumer data Data Set. The task is to generate a top-n list of
restaurants according to the consumer preferences.
We can simply say that Recommendation engines are nothing but just an automated form of a
person who is sitting at shop counter and predict about customer on the basis of their previous
experience or customer choice. If customer ask him for a product then he not only to show that
product, but also the related ones which you could buy. They are well trained in cross selling and up
selling. So, does our recommendation engines.
The ability of these engines to recommend personalized content, based on past behavior is
incredible. It brings customer delight and gives them a reason to keep returning to the website. In
this post, I will cover the fundamentals of creating a recommendation system using in Python. I will
get some intuition into how recommendation work and create basic popularity model and a
collaborative filtering model</b>
<b><br><br>
Two approaches were tested:<br> a collaborative filter technique and a contextual approach.<br>
   (i) The collaborative filter technique used only one file i.e., rating_final.csv that comprises the user, item and rating attributes. <br>
   (ii) The contextual approach generated the recommendations using the remaining eight data files.</b>
<b>
<pre>
Files, instances and attributes
Number of Files: 9

Restaurants
1 chefmozaccepts.csv
2 chefmozcuisine.csv
3 chefmozhours4.csv
4 chefmozparking.csv
5 geoplaces2.csv

Consumers
6 usercuisine.csv
7 userpayment.csv
8 userprofile.csv

User-Item-Rating
9 rating_final.csv
</b>
</pre>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as stats
%matplotlib inline

In [0]:
chefmozaccepts_df=pd.read_csv('RCdata/chefmozaccepts.csv')
chefmozcuisine_df=pd.read_csv('RCdata/chefmozcuisine.csv')
chefmozhours4_df=pd.read_csv('RCdata/chefmozhours4.csv')
chefmozparking_df=pd.read_csv('RCdata/chefmozparking.csv')
geoplaces2_df=pd.read_csv('RCdata/geoplaces2.csv',encoding='latin-1')
rating_final_df=pd.read_csv('RCdata/rating_final.csv')

usercuisine_df=pd.read_csv('RCdata/usercuisine.csv')
userpayment_df=pd.read_csv('RCdata/userpayment.csv')
userprofile_df=pd.read_csv('RCdata/userprofile.csv')

### Explore the Restaurent files
#### chefmozaccepts.csv dataset
it contains place id with payment method

In [112]:
chefmozaccepts_df.columns

Index(['placeID', 'Rpayment'], dtype='object')

In [113]:
chefmozaccepts_df.shape

(1314, 2)

In [114]:
chefmozaccepts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 2 columns):
placeID     1314 non-null int64
Rpayment    1314 non-null object
dtypes: int64(1), object(1)
memory usage: 20.6+ KB

In [115]:
chefmozaccepts_df.isnull().sum()

placeID     0
Rpayment    0
dtype: int64

In [116]:
chefmozaccepts_df.dtypes

placeID      int64
Rpayment    object
dtype: object

In [117]:
chefmozaccepts_df['Rpayment'].describe()

count     1314
unique      12
top       cash
freq       500
Name: Rpayment, dtype: object

In [118]:
chefmozaccepts_df.head()

   placeID             Rpayment
0   135110                 cash
1   135110                 VISA
2   135110  MasterCard-Eurocard
3   135110     American_Express
4   135110     bank_debit_cards

#### chefmozcuisine.csv dataset
it contains all the type of food with place id

In [119]:
chefmozcuisine_df.columns

Index(['placeID', 'Rcuisine'], dtype='object')

In [120]:
chefmozcuisine_df.shape

(916, 2)

In [121]:
chefmozcuisine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 2 columns):
placeID     916 non-null int64
Rcuisine    916 non-null object
dtypes: int64(1), object(1)
memory usage: 14.4+ KB

In [122]:
chefmozcuisine_df['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

In [123]:
chefmozcuisine_df.isnull().sum()

placeID     0
Rcuisine    0
dtype: int64

In [124]:
chefmozcuisine_df.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

#### chefmozhours4.csv dataset

In [125]:

chefmozhours4_df.columns

Index(['placeID', 'hours', 'days'], dtype='object')

In [126]:
chefmozhours4_df.shape

(2339, 3)

In [127]:

chefmozhours4_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 3 columns):
placeID    2339 non-null int64
hours      2339 non-null object
days       2339 non-null object
dtypes: int64(1), object(2)
memory usage: 54.9+ KB

In [128]:
chefmozhours4_df['days'].describe()

count                     2339
unique                       3
top       Mon;Tue;Wed;Thu;Fri;
freq                       793
Name: days, dtype: object

In [129]:
chefmozhours4_df['days'].head()

0    Mon;Tue;Wed;Thu;Fri;
1                    Sat;
2                    Sun;
3    Mon;Tue;Wed;Thu;Fri;
4                    Sat;
Name: days, dtype: object

In [0]:

chefmozhours4_df[['day1','day2','day3','day4','day5','day6']]= chefmozhours4_df.days.str.split(';', expand = True)

In [131]:
chefmozhours4_df.isnull().sum()

placeID       0
hours         0
days          0
day1          0
day2          0
day3       1546
day4       1546
day5       1546
day6       1546
dtype: int64

In [132]:
chefmozhours4_df.head()

,placeID,hours,days,day1,day2,day3,day4,day5,day6
0,135111,00:00-23:30;,Mon;Tue;Wed;Thu;Fri;,Mon,Tue,Wed,Thu,Fri,
1,135111,00:00-23:30;,Sat;,Sat,,None,None,None,None
2,135111,00:00-23:30;,Sun;,Sun,,None,None,None,None
3,135110,08:00-19:00;,Mon;Tue;Wed;Thu;Fri;,Mon,Tue,Wed,Thu,Fri,
4,135110,00:00-00:00;,Sat;,Sat,,None,None,None,None

#### chefmozparking.csv dataset

In [133]:
chefmozparking_df.columns

Index(['placeID', 'parking_lot'], dtype='object')

In [134]:

chefmozparking_df.shape

(702, 2)

In [135]:
chefmozparking_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 2 columns):
placeID        702 non-null int64
parking_lot    702 non-null object
dtypes: int64(1), object(1)
memory usage: 11.0+ KB

In [136]:
chefmozparking_df['parking_lot'].describe()

count      702
unique       7
top       none
freq       348
Name: parking_lot, dtype: object

In [137]:
chefmozparking_df.head()

   placeID parking_lot
0   135111      public
1   135110        none
2   135109        none
3   135108        none
4   135107        none

#### geoplaces2.csv dataset

In [138]:
geoplaces2_df.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [139]:
geoplaces2_df.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

# <h1>K-Means Clustering</h1>

In [140]:
#geoplaces2_df['placeID']
avg_recalls=0.7972556442597871
avg_precisions=0.8532526879527471 
avgs=0.8774525678920471
sr=geoplaces2_df.drop(['the_geom_meter', 'fax', 'smoking_area', 'alcohol','dress_code','other_services', 'franchise','Rambience', 'url'], axis=1)
sr['zip']=sr['zip'].fillna(0)
#sr['address']=sr['address'].fillna(0)
#sr['city']=sr['city'].fillna(0)
#sr['state']=sr['state'].fillna(0)

sr['longitude']=sr['longitude'].fillna(0)
sr['latitude']=sr['latitude'].fillna(0)
ls=sr['accessibility']


ls=ls.replace({'no_accessibility': 0})
ls=ls.replace({'accessibility': 1})
ls=ls.replace({'completely': 2})
ls=ls.replace({'partially': 3})
sr['accessibility']=ls

ls1=sr['price']
ls1=ls1.replace({'low': 0})
ls1=ls1.replace({'medium': 1})
ls1=ls1.replace({'high': 2})
sr['price'] =ls1

ls2=sr['area']
ls2=ls2.replace({'closed': 0})
ls2=ls2.replace({'open': 1})
sr['area']=ls2

sr.head()

,placeID,latitude,longitude,name,address,city,state,country,zip,accessibility,price,area
0,134999,18.915421,-99.184871,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,0,1,0
1,132825,22.147392,-100.983092,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,78280,2,0,1
2,135106,22.149709,-100.976093,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,78000,3,1,1
3,132667,23.752697,-99.163359,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,2,0,0
4,132613,23.752903,-99.165076,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,2,1,0

In [141]:
userprofile_df.head()

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,false,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69

In [142]:
hs=userprofile_df.drop(['dress_preference','ambience','hijos','religion','color','height'], axis=1)

hs['longitude']=hs['longitude'].fillna(sum(hs['longitude'])/len(hs['longitude']))
#hs['laitude']=hs['latitude'].fillna(sum(hs['latitude'])/len(hs['latitude']))
hs['birth_year']=hs['birth_year'].fillna(sum(hs['birth_year'])/len(hs['birth_year']))
hs['weight']=hs['weight'].fillna(sum(hs['weight'])/len(hs['weight']))



hs['smoker'] =hs['smoker'].fillna(0)
ls=hs['smoker']
ls=ls.replace({'false': 0})
ls=ls.replace({'true': 1})
hs['smoker']=ls


hs['marital_status'] =hs['marital_status'].fillna(0)
lst=hs['marital_status']
lst=lst.replace({'single': 0})
lst=lst.replace({'widow': 1})
lst=lst.replace({'married': 2})
hs['marital_status']=lst


ls1=hs['drink_level']
ls1=ls1.replace({'abstemious': 0})
ls1=ls1.replace({'social drinker': 1})
ls1=ls1.replace({'drink_level': 2})
ls1=ls1.replace({'casual drinker': 3})
hs['drink_level']=ls1


hs['transport']=hs['transport'].fillna(0)
ls2=hs['transport']
ls2=ls2.replace({'on foot': 0})
ls2=ls2.replace({'public': 1})
ls2=ls2.replace({'transport': 2})
ls2=ls2.replace({'car owner': 3})
hs['transport']=ls2


hs['interest']=hs['interest'].fillna(0)
ls23=hs['interest']
ls23=ls23.replace({'none': 0})
ls23=ls23.replace({'technology': 1})
ls23=ls23.replace({'variety': 2})
ls23=ls23.replace({'eco-friendly': 3})
ls23=ls23.replace({'retro': 4})
hs['interest']=ls23


hs['personality']=hs['personality'].fillna(0)
ls24=hs['personality']
ls24=ls24.replace({'thrifty-protector': 0})
ls24=ls24.replace({'hunter-ostentatious': 1})
ls24=ls24.replace({'conformist': 2})
ls24=ls24.replace({'hard-worker': 3})
hs['personality']=ls24


hs['activity']=hs['activity'].fillna(0)
ls25=hs['activity']
ls25=ls25.replace({'student': 0})
ls25=ls25.replace({'professional': 1})
ls25=ls25.replace({'working-class': 2})
ls25=ls25.replace({'unemployed': 3})
hs['activity']=ls25

hs['budget']=hs['budget'].fillna(0)
ls27=hs['budget']
ls27=ls27.replace({'low': 0})
ls27=ls27.replace({'medium': 1})
ls27=ls27.replace({'high': 2})
hs['budget']=ls27



hs.head()

,userID,latitude,longitude,smoker,drink_level,transport,marital_status,birth_year,interest,personality,activity,weight,budget
0,U1001,22.139997,-100.978803,0,0,0,0,1989,2,0,0,69,1
1,U1002,22.150087,-100.983325,0,0,1,0,1990,1,1,0,40,0
2,U1003,22.119847,-100.946527,0,1,1,0,1989,0,3,0,60,0
3,U1004,18.867000,-99.183000,0,0,1,0,1940,2,3,1,44,1
4,U1005,22.183477,-100.959891,0,0,1,0,1992,0,0,0,65,1

In [143]:
sets=['Rcuisine', 'American', 'Mexican', 'Mexican', 'Bakery', 'Breakfast-Brunch', 'Japanese', 'Contemporary', 'Mexican', 'Bagels', 'Cafe-Coffee_Shop', 'Continental-European', 'Cafeteria', 'American', 'Mexican', 'Family', 'Cafe-Coffee_Shop', 'Mexican', 'Juice', 'Hawaiian', 'Hot_Dogs', 'Latin_American', 'Korean', 'American', 'Cafeteria', 'Italian', 'Diner', 'Fast_Food', 'Family', 'Cafe-Coffee_Shop', 'Deli-Sandwiches', 'Cafeteria', 'Mexican', 'Mexican', 'Mexican', 'Latin_American', 'Japanese', 'Japanese', 'Fast_Food', 'Mexican', 'Cafe-Coffee_Shop', 'Contemporary', 'Regional', 'Fusion', 'Japanese', 'Portuguese', 'American', 'Indian-Pakistani', 'Eastern_European', 'Lebanese', 'Moroccan', 'Barbecue', 'Polynesian', 'Polish', 'Chinese', 'Mexican', 'Family', 'Mexican', 'Pizzeria', 'Regional', 'Chinese', 'Burgers', 'Mexican', 'Mexican', 'Afghan', 'Mexican', 'Mexican', 'Family', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Family', 'Mexican', 'Mexican', 'Mexican', 'Regional', 'Pizzeria', 'Contemporary', 'Mexican', 'Latin_American', 'Mexican', 'Middle_Eastern', 'Mexican', 'Mongolian', 'Moroccan', 'Bar', 'American', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Bakery', 'Mexican', 'Mexican', 'Breakfast-Brunch', 'Mexican', 'American', 'Cuban', 'Mexican', 'Burgers', 'Cafeteria', 'Pizzeria', 'Juice', 'American', 'Tex-Mex', 'Spanish', 'Mexican', 'Fast_Food', 'Cafe-Coffee_Shop', 'Soup', 'Hot_Dogs', 'Italian', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'American', 'Sushi', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Italian', 'Chinese', 'Mexican', 'Mexican', 'Tex-Mex', 'American', 'Mexican', 'Game', 'Japanese', 'Mexican', 'Italian', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Chinese', 'Italian', 'Doughnuts', 'Afghan', 'Mexican', 'Burgers', 'Latin_American', 'Contemporary', 'Cafe-Coffee_Shop', 'Family', 'Cafeteria', 'Bar', 'Australian', 'Hot_Dogs', 'Diner', 'Pizzeria', 'Mexican', 'Italian', 'Cafeteria', 'Barbecue', 'Mexican', 'Cafe-Coffee_Shop', 'Sushi', 'Latin_American', 'Deli-Sandwiches', 'Mexican', 'Hot_Dogs', 'American', 'Fast_Food', 'Burgers', 'Asian', 'Pizzeria', 'Chinese', 'Dessert-Ice_Cream', 'Cafeteria', 'Japanese', 'Game', 'Family', 'Seafood', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Burgers', 'Mexican', 'Regional', 'Mexican', 'Turkish', 'Pizzeria', 'Mexican', 'Mexican', 'Mexican', 'Afghan', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Cafeteria', 'Hot_Dogs', 'Pizzeria', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Mexican', 'Organic-Healthy', 'Steaks', 'Middle_Eastern', 'Mediterranean', 'British', 'Austrian', 'Israeli', 'Doughnuts', 'Pizzeria', 'Seafood', 'Fast_Food', 'Moroccan', 'Hot_Dogs', 'Russian-Ukrainian', 'Malaysian', 'Burgers', 'Fusion', 'Korean', 'Japanese', 'Vegetarian', 'Turkish', 'Peruvian', 'Juice', 'Tapas', 'Eclectic', 'African', 'Basque', 'Canadian', 'Afghan', 'Diner', 'Irish', 'Sushi', 'Polynesian', 'Bagels', 'Tex-Mex', 'Cuban', 'Southwestern', 'Cafe-Coffee_Shop', 'Continental-European', 'Family', 'Indian-Pakistani', 'Tea_House', 'International', 'Pacific_Northwest', 'Australian', 'German', 'Regional', 'Spanish', 'Persian', 'Ethiopian', 'Romanian', 'Cambodian', 'Pacific_Rim', 'Tunisian', 'Filipino', 'Dim_Sum', 'Breakfast-Brunch', 'Contemporary', 'Greek', 'Thai', 'Swiss', 'Bar', 'Soup', 'American', 'Mongolian', 'Cajun-Creole', 'Armenian', 'Indigenous', 'Bar_Pub_Brewery', 'Hawaiian', 'Cafeteria', 'Lebanese', 'Chinese', 'Portuguese', 'Caribbean', 'Indonesian', 'Hungarian', 'Bakery', 'Dutch-Belgian', 'Deli-Sandwiches', 'Kosher', 'Fine_Dining', 'Jamaican', 'Tibetan', 'Latin_American', 'Southeast_Asian', 'Eastern_European', 'Mexican', 'Burmese', 'California', 'Game', 'Italian', 'Scandinavian', 'Chilean', 'Polish', 'North_African', 'Asian', 'Vietnamese', 'Barbecue', 'French', 'Brazilian', 'Southern', 'Dessert-Ice_Cream', 'Mexican', 'Mexican', 'Pizzeria']
for i in sets:
    hs[i]=0
lsr1=hs['userID']
lsr2=usercuisine_df['userID']
hs.head()

,userID,latitude,longitude,smoker,drink_level,transport,marital_status,birth_year,interest,personality,...,Southeast_Asian,Burmese,California,Scandinavian,Chilean,North_African,Vietnamese,French,Brazilian,Southern
0,U1001,22.139997,-100.978803,0,0,0,0,1989,2,0,...,0,0,0,0,0,0,0,0,0,0
1,U1002,22.150087,-100.983325,0,0,1,0,1990,1,1,...,0,0,0,0,0,0,0,0,0,0
2,U1003,22.119847,-100.946527,0,1,1,0,1989,0,3,...,0,0,0,0,0,0,0,0,0,0
3,U1004,18.867000,-99.183000,0,0,1,0,1940,2,3,...,0,0,0,0,0,0,0,0,0,0
4,U1005,22.183477,-100.959891,0,0,1,0,1992,0,0,...,0,0,0,0,0,0,0,0,0,0

# clustering

In [144]:
for index, row in usercuisine_df.iterrows():
    hs.loc[hs.userID == row.userID, row.Rcuisine] = 1
hs.head()

,userID,latitude,longitude,smoker,drink_level,transport,marital_status,birth_year,interest,personality,...,Southeast_Asian,Burmese,California,Scandinavian,Chilean,North_African,Vietnamese,French,Brazilian,Southern
0,U1001,22.139997,-100.978803,0,0,0,0,1989,2,0,...,0,0,0,0,0,0,0,0,0,0
1,U1002,22.150087,-100.983325,0,0,1,0,1990,1,1,...,0,0,0,0,0,0,0,0,0,0
2,U1003,22.119847,-100.946527,0,1,1,0,1989,0,3,...,0,0,0,0,0,0,0,0,0,0
3,U1004,18.867000,-99.183000,0,0,1,0,1940,2,3,...,0,0,0,0,0,0,0,0,0,0
4,U1005,22.183477,-100.959891,0,0,1,0,1992,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:


#hs.replace({'?':np.nan}).dropna()
hs['smoker']=hs['smoker'].replace({'?':0})
hs['activity']=hs['activity'].replace({'?':0})
hs['budget']=hs['budget'].replace({'?':0})
hs['transport']=hs['transport'].replace({'?':0})
hs['marital_status']=hs['marital_status'].replace({'?':0})


#hs.head()
#X.get_loc('?')

In [146]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
# from recommendations_list import recommendation_lists
%matplotlib inline
kmeans = KMeans(n_clusters = hs.shape[0]//20)

def recommendations_lists():
    import random
    rs={1:['132733','132665','135030','135084','135076','135062','135041','135045'],2:['135058','135084','135063','135088','135086','135063','135042','134992'],3:['135041','132870','135063','135088','135051','135068','135042','134754'],4:['135045','132870','135063','132954','135013','135000','135042','135073'],5:['132825','135051','132925','135088','135051','132723','132834','134999'],6:['132613','134996','132925','135088','132830','132723','132834','132861'],7:['132723','135051','132862','135088','135051','132925','135047','134996'],8:['132766','132733','132925','135044','135051','132872','132665','135041']};
    recommendation_listss=[];
    for i in rs:
        recommendation_listss.append(rs[i]);
    recommendation_listsss=recommendation_listss[random.randint(1,8)]
    return recommendation_listsss

X = hs.copy()
X = hs.drop('userID', 1)

hs.head()

,userID,latitude,longitude,smoker,drink_level,transport,marital_status,birth_year,interest,personality,...,Southeast_Asian,Burmese,California,Scandinavian,Chilean,North_African,Vietnamese,French,Brazilian,Southern
0,U1001,22.139997,-100.978803,0,0,0,0,1989,2,0,...,0,0,0,0,0,0,0,0,0,0
1,U1002,22.150087,-100.983325,0,0,1,0,1990,1,1,...,0,0,0,0,0,0,0,0,0,0
2,U1003,22.119847,-100.946527,0,1,1,0,1989,0,3,...,0,0,0,0,0,0,0,0,0,0
3,U1004,18.867000,-99.183000,0,0,1,0,1940,2,3,...,0,0,0,0,0,0,0,0,0,0
4,U1005,22.183477,-100.959891,0,0,1,0,1992,0,0,...,0,0,0,0,0,0,0,0,0,0

In [147]:

xx=kmeans.fit(X)
y_kmeans = kmeans.predict(X)
y_kmeans

array([0, 5, 0, 2, 0, 3, 0, 0, 3, 5, 0, 1, 3, 5, 3, 0, 3, 0, 0, 5, 1, 5,
       1, 2, 0, 5, 0, 3, 0, 0, 5, 5, 5, 5, 0, 3, 5, 4, 3, 0, 5, 2, 0, 3,
       0, 3, 0, 0, 5, 3, 3, 3, 0, 0, 4, 2, 0, 3, 0, 3, 5, 3, 3, 3, 5, 5,
       3, 0, 0, 5, 2, 5, 1, 0, 0, 0, 0, 0, 5, 3, 5, 0, 5, 0, 3, 5, 5, 0,
       5, 5, 5, 0, 3, 0, 0, 5, 0, 0, 0, 5, 5, 3, 1, 3, 5, 4, 3, 3, 0, 3,
       0, 0, 3, 0, 3, 5, 0, 0, 0, 2, 3, 2, 1, 5, 0, 0, 0, 0, 0, 5, 3, 5,
       0, 5, 0, 5, 0, 5], dtype=int32)

In [148]:
xx

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=6, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [149]:
cluster_map = pd.DataFrame()
#cluster_map['userID'] = X.index.values
cluster_map['userID'] = hs['userID'] 
cluster_map['cluster'] = kmeans.labels_
cluster_map['cluster'].head()

0    0
1    5
2    0
3    2
4    0
Name: cluster, dtype: int32

In [150]:
ls1=[]
ls2=[]
ls3=[]
ls4=[]
ls5=[]
ls6=[]
ls7=[]
ls8=[]
ls9=[]
ls10=[]
ls11=[]
ls12=[]
ls13=[]
lsn = {}
j=0
rs1=list(cluster_map['userID']);
# for i in cluster_map['cluster']:
#     if i in lsn:
#         lsn[i].append(rs[j])
#     else:
#         lsn[i] = [rs[j]]
#     j += 1

for i in cluster_map['cluster']:
    if(i==1):
        ls1.append(rs1[j]);
    if(i==2):
        ls2.append(rs1[j]);
    if(i==3):
        ls3.append(rs1[j]);
    if(i==4):
        ls4.append(rs1[j]);
    if(i==5):
        ls5.append(rs1[j]);
    if(i==6):
        ls6.append(rs1[j]);
    if(i==7):
        ls7.append(rs1[j]);
    if(i==8):
        ls8.append(rs1[j]);
    if(i==9):
        ls9.append(rs1[j]);
    if(i==10):
        ls10.append(rs1[j]);
    if(i==11):
        ls11.append(rs1[j]);
    if(i==12):
        ls12.append(rs1[j]);
    if(i==13):
        ls13.append(rs1[j])
        
    j=j+1;
k=0    

print(ls5)

['U1002', 'U1010', 'U1014', 'U1020', 'U1022', 'U1026', 'U1031', 'U1032', 'U1033', 'U1034', 'U1037', 'U1041', 'U1049', 'U1061', 'U1065', 'U1066', 'U1070', 'U1072', 'U1079', 'U1081', 'U1083', 'U1086', 'U1087', 'U1089', 'U1090', 'U1091', 'U1096', 'U1100', 'U1101', 'U1105', 'U1116', 'U1124', 'U1130', 'U1132', 'U1134', 'U1136', 'U1138']

In [151]:
rs1=list(rating_final_df['userID'])
rs=list(rating_final_df['placeID'])
js=list(rating_final_df['rating'])
lsn={}
lsn[rs1[0]]={str(rs[0]):js[0]}
kr=0
for i in rs1:
    lsn[i]={str(rs[kr]):js[kr]}
    kr=kr+1


lsn

{'U1001': {'135051': 1},
 'U1002': {'135085': 1},
 'U1003': {'135059': 2},
 'U1004': {'132958': 2},
 'U1005': {'135032': 2},
 'U1006': {'132884': 2},
 'U1007': {'135038': 1},
 'U1008': {'135054': 1},
 'U1009': {'135079': 1},
 'U1010': {'135076': 1},
 'U1011': {'132715': 1},
 'U1012': {'135018': 2},
 'U1013': {'135060': 1},
 'U1014': {'135082': 0},
 'U1015': {'132877': 1},
 'U1016': {'135062': 2},
 'U1017': {'134983': 0},
 'U1018': {'135108': 1},
 'U1019': {'135086': 0},
 'U1020': {'135109': 2},
 'U1021': {'132715': 2},
 'U1022': {'135063': 2},
 'U1023': {'132733': 2},
 'U1024': {'135030': 1},
 'U1025': {'132830': 2},
 'U1026': {'132665': 2},
 'U1027': {'135062': 1},
 'U1028': {'132613': 2},
 'U1029': {'132922': 1},
 'U1030': {'134996': 0},
 'U1031': {'132668': 0},
 'U1032': {'135032': 0},
 'U1033': {'135030': 2},
 'U1034': {'135035': 1},
 'U1035': {'134986': 2},
 'U1036': {'135045': 2},
 'U1037': {'132854': 1},
 'U1038': {'132862': 2},
 'U1039': {'132665': 1},
 'U1040': {'135019': 1},
 'U1041': {'135109': 1},
 'U1042': {'134992': 1},
 'U1043': {'132630': 1},
 'U1044': {'132768': 2},
 'U1045': {'135041': 1},
 'U1046': {'132861': 1},
 'U1047': {'132884': 0},
 'U1048': {'132723': 2},
 'U1049': {'135052': 0},
 'U1050': {'132584': 0},
 'U1051': {'134996': 1},
 'U1052': {'132870': 1},
 'U1053': {'135047': 2},
 'U1054': {'135045': 2},
 'U1055': {'132825': 2},
 'U1056': {'135051': 2},
 'U1057': {'132834': 1},
 'U1058': {'135055': 2},
 'U1059': {'132754': 2},
 'U1060': {'132740': 1},
 'U1061': {'132954': 2},
 'U1062': {'132834': 0},
 'U1063': {'132667': 1},
 'U1064': {'135052': 2},
 'U1065': {'132654': 1},
 'U1066': {'135013': 1},
 'U1067': {'132560': 1},
 'U1068': {'132660': 0},
 'U1069': {'132847': 0},
 'U1070': {'132613': 1},
 'U1071': {'135030': 2},
 'U1072': {'135000': 0},
 'U1073': {'132862': 0},
 'U1074': {'134976': 2},
 'U1075': {'135041': 1},
 'U1076': {'135073': 2},
 'U1077': {'135027': 0},
 'U1078': {'135052': 2},
 'U1079': {'132766': 1},
 'U1080': {'132715': 1},
 'U1081': {'135027': 0},
 'U1082': {'132733': 0},
 'U1083': {'135044': 1},
 'U1084': {'132723': 1},
 'U1085': {'132825': 2},
 'U1086': {'132951': 1},
 'U1087': {'132663': 1},
 'U1088': {'135051': 2},
 'U1089': {'135079': 0},
 'U1090': {'132925': 2},
 'U1091': {'135035': 1},
 'U1092': {'132723': 1},
 'U1093': {'135011': 1},
 'U1094': {'135069': 0},
 'U1095': {'135072': 2},
 'U1096': {'135075': 1},
 'U1097': {'132861': 2},
 'U1098': {'132921': 1},
 'U1099': {'135042': 1},
 'U1100': {'134976': 2},
 'U1101': {'135041': 0},
 'U1102': {'132847': 2},
 'U1103': {'132733': 2},
 'U1104': {'135041': 1},
 'U1105': {'135052': 0},
 'U1106': {'135064': 2},
 'U1107': {'132733': 2},
 'U1108': {'135058': 1},
 'U1109': {'132872': 1},
 'U1110': {'134999': 2},
 'U1111': {'135082': 1},
 'U1112': {'132862': 1},
 'U1113': {'132854': 0},
 'U1114': {'132755': 1},
 'U1115': {'135071': 2},
 'U1116': {'132834': 2},
 'U1117': {'135000': 1},
 'U1118': {'134992': 0},
 'U1119': {'132768': 2},
 'U1120': {'132847': 2},
 'U1121': {'134999': 2},
 'U1122': {'135053': 2},
 'U1123': {'132594': 1},
 'U1124': {'135050': 0},
 'U1125': {'135062': 1},
 'U1126': {'135108': 2},
 'U1127': {'134996': 2},
 'U1128': {'132951': 0},
 'U1129': {'132665': 0},
 'U1130': {'132706': 1},
 'U1131': {'132870': 0},
 'U1132': {'135027': 2},
 'U1133': {'135019': 1},
 'U1134': {'135074': 2},
 'U1135': {'135060': 0},
 'U1136': {'135028': 2},
 'U1137': {'135075': 2},
 'U1138': {'132925': 1}}

In [152]:
rs=list(rating_final_df['placeID'])
rs1=list(rating_final_df['userID'])
lsn={}
k=0

for i in rs:
    if i in lsn:
        lsn[i].append(rs1[k])
    else:
        lsn[i]=[rs1[k]]
    k=k+1
lsn

{132560: ['U1067', 'U1082', 'U1050', 'U1087'],
 132561: ['U1026', 'U1129', 'U1065', 'U1130'],
 132564: ['U1060', 'U1080', 'U1039', 'U1011'],
 132572: ['U1108',
  'U1055',
  'U1083',
  'U1134',
  'U1007',
  'U1092',
  'U1033',
  'U1091',
  'U1090',
  'U1013',
  'U1061',
  'U1046',
  'U1112',
  'U1006',
  'U1073'],
 132583: ['U1044', 'U1118', 'U1035', 'U1119'],
 132584: ['U1067', 'U1103', 'U1107', 'U1123', 'U1063', 'U1050'],
 132594: ['U1082', 'U1123', 'U1050', 'U1087', 'U1068'],
 132608: ['U1070', 'U1082', 'U1123', 'U1080', 'U1050', 'U1043'],
 132609: ['U1070', 'U1082', 'U1063', 'U1050', 'U1043'],
 132613: ['U1103', 'U1070', 'U1082', 'U1123', 'U1028', 'U1043'],
 132626: ['U1026', 'U1065', 'U1039', 'U1130'],
 132630: ['U1068', 'U1067', 'U1103', 'U1082', 'U1028', 'U1043'],
 132654: ['U1026', 'U1129', 'U1065', 'U1130'],
 132660: ['U1107', 'U1080', 'U1063', 'U1087', 'U1068'],
 132663: ['U1068', 'U1103', 'U1031', 'U1082', 'U1028', 'U1087'],
 132665: ['U1031', 'U1026', 'U1065', 'U1129', 'U1039'],
 132667: ['U1103', 'U1123', 'U1063', 'U1087'],
 132668: ['U1031', 'U1021', 'U1080'],
 132706: ['U1026', 'U1129', 'U1065', 'U1130'],
 132715: ['U1023', 'U1021', 'U1080', 'U1011'],
 132717: ['U1023', 'U1060', 'U1011'],
 132723: ['U1083',
  'U1108',
  'U1084',
  'U1034',
  'U1095',
  'U1048',
  'U1092',
  'U1003',
  'U1137',
  'U1114',
  'U1061',
  'U1096'],
 132732: ['U1068',
  'U1067',
  'U1103',
  'U1082',
  'U1028',
  'U1050',
  'U1087',
  'U1043'],
 132733: ['U1067',
  'U1103',
  'U1107',
  'U1060',
  'U1123',
  'U1023',
  'U1080',
  'U1082',
  'U1028',
  'U1068'],
 132740: ['U1068',
  'U1060',
  'U1123',
  'U1021',
  'U1023',
  'U1050',
  'U1028',
  'U1087'],
 132754: ['U1055',
  'U1053',
  'U1134',
  'U1036',
  'U1106',
  'U1009',
  'U1122',
  'U1089',
  'U1029',
  'U1114',
  'U1003',
  'U1061',
  'U1059'],
 132755: ['U1083', 'U1048', 'U1003', 'U1137', 'U1114'],
 132766: ['U1133', 'U1117', 'U1079'],
 132767: ['U1093', 'U1030', 'U1066', 'U1133', 'U1110', 'U1121'],
 132768: ['U1017',
  'U1100',
  'U1118',
  'U1020',
  'U1051',
  'U1044',
  'U1119',
  'U1079',
  'U1042',
  'U1041'],
 132773: ['U1072', 'U1117', 'U1035', 'U1040'],
 132825: ['U1077',
  'U1055',
  'U1053',
  'U1081',
  'U1001',
  'U1056',
  'U1134',
  'U1116',
  'U1024',
  'U1132',
  'U1036',
  'U1071',
  'U1049',
  'U1104',
  'U1045',
  'U1009',
  'U1135',
  'U1062',
  'U1109',
  'U1085',
  'U1098',
  'U1003',
  'U1091',
  'U1029',
  'U1137',
  'U1114',
  'U1061',
  'U1057',
  'U1025',
  'U1059',
  'U1006',
  'U1002'],
 132830: ['U1001',
  'U1088',
  'U1014',
  'U1126',
  'U1094',
  'U1105',
  'U1075',
  'U1115',
  'U1005',
  'U1037',
  'U1019',
  'U1025'],
 132834: ['U1116',
  'U1075',
  'U1024',
  'U1036',
  'U1071',
  'U1104',
  'U1106',
  'U1045',
  'U1009',
  'U1016',
  'U1099',
  'U1135',
  'U1032',
  'U1062',
  'U1078',
  'U1122',
  'U1089',
  'U1029',
  'U1019',
  'U1137',
  'U1114',
  'U1061',
  'U1112',
  'U1057',
  'U1073'],
 132845: ['U1120', 'U1037', 'U1069', 'U1111', 'U1015'],
 132846: ['U1120', 'U1069', 'U1008', 'U1102', 'U1025'],
 132847: ['U1120', 'U1037', 'U1069', 'U1111', 'U1025', 'U1102'],
 132851: ['U1052', 'U1069', 'U1008', 'U1111', 'U1037', 'U1015', 'U1131'],
 132854: ['U1038', 'U1113', 'U1008', 'U1111', 'U1037', 'U1102'],
 132856: ['U1038',
  'U1071',
  'U1019',
  'U1113',
  'U1106',
  'U1045',
  'U1016',
  'U1099',
  'U1054',
  'U1101',
  'U1032',
  'U1135',
  'U1109',
  'U1098'],
 132858: ['U1038', 'U1069', 'U1008', 'U1111', 'U1102'],
 132861: ['U1038', 'U1084', 'U1095', 'U1098', 'U1091', 'U1046', 'U1097'],
 132862: ['U1038',
  'U1071',
  'U1084',
  'U1106',
  'U1009',
  'U1016',
  'U1098',
  'U1003',
  'U1029',
  'U1137',
  'U1090',
  'U1112',
  'U1057',
  'U1059',
  'U1073',
  'U1049',
  'U1002',
  'U1136'],
 132866: ['U1052', 'U1008', 'U1015', 'U1025', 'U1131'],
 132869: ['U1052', 'U1008', 'U1111', 'U1037', 'U1015', 'U1131'],
 132870: ['U1052', 'U1111', 'U1015', 'U1131', 'U1102'],
 132872: ['U1095',
  'U1099',
  'U1128',
  'U1062',
  'U1032',
  'U1085',
  'U1109',
  'U1122',
  'U1089',
  'U1027',
  'U1114',
  'U1058'],
 132875: ['U1047',
  'U1013',
  'U1089',
  'U1091',
  'U1027',
  'U1128',
  'U1006',
  'U1096'],
 132877: ['U1047', 'U1111', 'U1015', 'U1025'],
 132884: ['U1047', 'U1034', 'U1091', 'U1137', 'U1097', 'U1006'],
 132885: ['U1078', 'U1099', 'U1085', 'U1098', 'U1058'],
 132921: ['U1138',
  'U1013',
  'U1098',
  'U1033',
  'U1089',
  'U1027',
  'U1029',
  'U1086',
  'U1019',
  'U1061',
  'U1046',
  'U1112',
  'U1128',
  'U1097',
  'U1049',
  'U1002',
  'U1136'],
 132922: ['U1138', 'U1003', 'U1029', 'U1086', 'U1090', 'U1006'],
 132925: ['U1138', 'U1027', 'U1090', 'U1128', 'U1002'],
 132937: ['U1003', 'U1027', 'U1029', 'U1086'],
 132951: ['U1033',
  'U1089',
  'U1027',
  'U1086',
  'U1137',
  'U1114',
  'U1046',
  'U1128',
  'U1073',
  'U1013'],
 132954: ['U1004',
  'U1112',
  'U1090',
  'U1057',
  'U1061',
  'U1097',
  'U1128',
  'U1006',
  'U1073'],
 132955: ['U1004', 'U1061', 'U1059', 'U1097', 'U1096'],
 132958: ['U1004', 'U1061', 'U1025', 'U1097', 'U1096', 'U1136'],
 134975: ['U1127', 'U1017', 'U1133'],
 134976: ['U1093', 'U1100', 'U1074', 'U1079'],
 134983: ['U1012', 'U1017', 'U1133', 'U1118', 'U1041'],
 134986: ['U1030',
  'U1012',
  'U1133',
  'U1044',
  'U1119',
  'U1035',
  'U1079',
  'U1042'],
 134987: ['U1044', 'U1127', 'U1118', 'U1074'],
 134992: ['U1133', 'U1118', 'U1042', 'U1041'],
 134996: ['U1012',
  'U1093',
  'U1030',
  'U1127',
  'U1100',
  'U1020',
  'U1035',
  'U1042',
  'U1051'],
 134999: ['U1093', 'U1066', 'U1040', 'U1110', 'U1121'],
 135000: ['U1100', 'U1117', 'U1072', 'U1035'],
 135001: ['U1012', 'U1093', 'U1100', 'U1133', 'U1118', 'U1119', 'U1041'],
 135011: ['U1093', 'U1066', 'U1074'],
 135013: ['U1093', 'U1066', 'U1040', 'U1110'],
 135016: ['U1030', 'U1072', 'U1117'],
 135018: ['U1030', 'U1012', 'U1117', 'U1035'],
 135019: ['U1093', 'U1030', 'U1066', 'U1133', 'U1040', 'U1121'],
 135021: ['U1127',
  'U1100',
  'U1133',
  'U1118',
  'U1119',
  'U1121',
  'U1110',
  'U1042',
  'U1041'],
 135025: ['U1055',
  'U1053',
  'U1018',
  'U1022',
  'U1116',
  'U1132',
  'U1036',
  'U1071',
  'U1104',
  'U1007',
  'U1054',
  'U1001',
  'U1092',
  'U1090',
  'U1096'],
 135026: ['U1134',
  'U1120',
  'U1084',
  'U1048',
  'U1046',
  'U1089',
  'U1061',
  'U1112',
  'U1097',
  'U1006',
  'U1096'],
 135027: ['U1081',
  'U1056',
  'U1076',
  'U1116',
  'U1024',
  'U1132',
  'U1077',
  'U1101'],
 135028: ['U1108',
  'U1055',
  'U1081',
  'U1106',
  'U1024',
  'U1132',
  'U1004',
  'U1071',
  'U1135',
  'U1109',
  'U1033',
  'U1089',
  'U1059',
  'U1025',
  'U1136'],
 135030: ['U1081',
  'U1116',
  'U1024',
  'U1071',
  'U1084',
  'U1104',
  'U1106',
  'U1122',
  'U1033',
  'U1057',
  'U1059',
  'U1006'],
 135032: ['U1108',
  'U1053',
  'U1081',
  'U1088',
  'U1106',
  'U1124',
  'U1125',
  'U1018',
  'U1022',
  'U1075',
  'U1024',
  'U1132',
  'U1005',
  'U1120',
  'U1004',
  'U1071',
  'U1113',
  'U1104',
  'U1045',
  'U1016',
  'U1007',
  'U1054',
  'U1101',
  'U1032',
  'U1135',
  'U1109',
  'U1098',
  'U1049'],
 135033: ['U1022', 'U1105', 'U1104', 'U1001'],
 135034: ['U1083', 'U1095', 'U1048', 'U1061', 'U1097'],
 135035: ['U1084', 'U1095', 'U1034', 'U1091'],
 135038: ['U1077',
  'U1053',
  'U1126',
  'U1125',
  'U1076',
  'U1022',
  'U1116',
  'U1024',
  'U1132',
  'U1120',
  'U1019',
  'U1113',
  'U1009',
  'U1007',
  'U1099',
  'U1054',
  'U1101',
  'U1032',
  'U1062',
  'U1109',
  'U1122',
  'U1098',
  'U1033',
  'U1089'],
 135039: ['U1081',
  'U1124',
  'U1076',
  'U1105',
  'U1075',
  'U1024',
  'U1071',
  'U1104',
  'U1106',
  'U1054',
  'U1101',
  'U1001'],
 135040: ['U1126', 'U1022', 'U1105', 'U1001'],
 135041: ['U1088',
  'U1106',
  'U1126',
  'U1075',
  'U1024',
  'U1005',
  'U1049',
  'U1104',
  'U1045',
  'U1054',
  'U1101',
  'U1135',
  'U1078',
  'U1003',
  'U1086',
  'U1061',
  'U1002'],
 135042: ['U1053',
  'U1064',
  'U1014',
  'U1125',
  'U1076',
  'U1024',
  'U1005',
  'U1036',
  'U1071',
  'U1106',
  'U1016',
  'U1099',
  'U1032',
  'U1135',
  'U1085',
  'U1109',
  'U1027',
  'U1137',
  'U1049',
  'U1010'],
 135043: ['U1081',
  'U1014',
  'U1018',
  'U1125',
  'U1005',
  'U1099',
  'U1085',
  'U1057',
  'U1058'],
 135044: ['U1083', 'U1134', 'U1046', 'U1059'],
 135045: ['U1022',
  'U1024',
  'U1120',
  'U1036',
  'U1084',
  'U1016',
  'U1099',
  'U1054',
  'U1001',
  'U1135',
  'U1062',
  'U1033',
  'U1086'],
 135046: ['U1083',
  'U1108',
  'U1134',
  'U1113',
  'U1092',
  'U1098',
  'U1033',
  'U1061',
  'U1112',
  'U1057',
  'U1136'],
 135047: ['U1055',
  'U1053',
  'U1134',
  'U1116',
  'U1106',
  'U1104',
  'U1029',
  'U1112',
  'U1025',
  'U1010'],
 135048: ['U1055', 'U1048', 'U1061', 'U1112', 'U1006', 'U1136'],
 135049: ['U1083', 'U1034', 'U1048', 'U1137', 'U1097'],
 135050: ['U1014',
  'U1056',
  'U1124',
  'U1125',
  'U1075',
  'U1005',
  'U1085',
  'U1058'],
 135051: ['U1055',
  'U1088',
  'U1056',
  'U1022',
  'U1075',
  'U1024',
  'U1132',
  'U1045',
  'U1016',
  'U1054',
  'U1101',
  'U1001',
  'U1090',
  'U1049'],
 135052: ['U1064',
  'U1081',
  'U1056',
  'U1126',
  'U1022',
  'U1116',
  'U1105',
  'U1132',
  'U1036',
  'U1071',
  'U1106',
  'U1104',
  'U1045',
  'U1009',
  'U1016',
  'U1054',
  'U1101',
  'U1135',
  'U1062',
  'U1078',
  'U1027',
  'U1090',
  'U1073',
  'U1049',
  'U1002'],
 135053: ['U1053',
  'U1114',
  'U1062',
  'U1122',
  'U1128',
  'U1058',
  'U1097',
  'U1010'],
 135054: ['U1088',
  'U1126',
  'U1124',
  'U1094',
  'U1105',
  'U1115',
  'U1037',
  'U1008',
  'U1015',
  'U1131'],
 135055: ['U1134', 'U1095', 'U1085', 'U1034', 'U1096', 'U1136', 'U1058'],
 135057: ['U1064',
  'U1088',
  'U1014',
  'U1126',
  'U1124',
  'U1018',
  'U1022',
  'U1094',
  'U1105',
  'U1007',
  'U1075',
  'U1115',
  'U1005',
  'U1120',
  'U1113'],
 135058: ['U1108',
  'U1084',
  'U1009',
  'U1095',
  'U1007',
  'U1032',
  'U1135',
  'U1109',
  'U1122',
  'U1089',
  'U1137',
  'U1114',
  'U1061',
  'U1046',
  'U1097',
  'U1128',
  'U1058',
  'U1010'],
 135059: ['U1134',
  'U1116',
  'U1036',
  'U1009',
  'U1085',
  'U1029',
  'U1137',
  'U1002',
  'U1003'],
 135060: ['U1077',
  'U1053',
  'U1064',
  'U1125',
  'U1022',
  'U1116',
  'U1024',
  'U1004',
  'U1071',
  'U1045',
  'U1009',
  'U1016',
  'U1099',
  'U1054',
  'U1032',
  'U1135',
  'U1078',
  'U1098',
  'U1086',
  'U1128',
  'U1073',
  'U1013'],
 135062: ['U1053',
  'U1056',
  'U1125',
  'U1018',
  'U1022',
  'U1075',
  'U1132',
  'U1004',
  'U1104',
  'U1106',
  'U1016',
  'U1054',
  'U1062',
  'U1027',
  'U1019',
  'U1137',
  'U1090',
  'U1112',
  'U1073',
  'U1002',
  'U1058'],
 135063: ['U1053',
  'U1125',
  'U1022',
  'U1071',
  'U1009',
  'U1135',
  'U1109',
  'U1086'],
 135064: ['U1134',
  'U1036',
  'U1106',
  'U1045',
  'U1095',
  'U1122',
  'U1089',
  'U1003',
  'U1059',
  'U1112',
  'U1057',
  'U1025',
  'U1128',
  'U1073',
  'U1096',
  'U1136',
  'U1010'],
 135065: ['U1134',
  'U1036',
  'U1048',
  'U1122',
  'U1033',
  'U1114',
  'U1046',
  'U1073',
  'U1010'],
 135066: ['U1014',
  'U1056',
  'U1125',
  'U1018',
  'U1075',
  'U1005',
  'U1106',
  'U1016',
  'U1099',
  'U1122',
  'U1027',
  'U1058'],
 135069: ['U1081',
  'U1064',
  'U1014',
  'U1088',
  'U1126',
  'U1124',
  'U1018',
  'U1094',
  'U1105',
  'U1115',
  'U1069',
  'U1008'],
 135070: ['U1014',
  'U1088',
  'U1124',
  'U1094',
  'U1115',
  'U1037',
  'U1069',
  'U1057'],
 135071: ['U1015',
  'U1088',
  'U1124',
  'U1094',
  'U1115',
  'U1111',
  'U1037',
  'U1092',
  'U1025'],
 135072: ['U1083',
  'U1084',
  'U1095',
  'U1013',
  'U1089',
  'U1114',
  'U1096',
  'U1136'],
 135073: ['U1076', 'U1022', 'U1024', 'U1101'],
 135074: ['U1108', 'U1083', 'U1134', 'U1136'],
 135075: ['U1108',
  'U1055',
  'U1134',
  'U1033',
  'U1003',
  'U1091',
  'U1137',
  'U1061',
  'U1013',
  'U1059',
  'U1057',
  'U1006',
  'U1096'],
 135076: ['U1053',
  'U1081',
  'U1014',
  'U1056',
  'U1125',
  'U1075',
  'U1005',
  'U1019',
  'U1099',
  'U1013',
  'U1085',
  'U1058',
  'U1010'],
 135079: ['U1134',
  'U1036',
  'U1113',
  'U1106',
  'U1009',
  'U1013',
  'U1032',
  'U1019',
  'U1122',
  'U1098',
  'U1089',
  'U1003',
  'U1112',
  'U1097',
  'U1128',
  'U1006',
  'U1010'],
 135080: ['U1134', 'U1003', 'U1091', 'U1061', 'U1057', 'U1073'],
 135081: ['U1053',
  'U1014',
  'U1088',
  'U1056',
  'U1124',
  'U1125',
  'U1018',
  'U1022',
  'U1075',
  'U1085',
  'U1078'],
 135082: ['U1088',
  'U1014',
  'U1018',
  'U1094',
  'U1115',
  'U1037',
  'U1069',
  'U1111',
  'U1131'],
 135085: ['U1077',
  'U1108',
  'U1081',
  'U1056',
  'U1134',
  'U1116',
  'U1132',
  'U1120',
  'U1036',
  'U1084',
  'U1113',
  'U1104',
  'U1106',
  'U1045',
  'U1016',
  'U1007',
  'U1013',
  'U1001',
  'U1135',
  'U1032',
  'U1062',
  'U1092',
  'U1109',
  'U1122',
  'U1098',
  'U1033',
  'U1089',
  'U1027',
  'U1029',
  'U1086',
  'U1137',
  'U1046',
  'U1090',
  'U1059',
  'U1049',
  'U1002'],
 135086: ['U1108',
  'U1034',
  'U1095',
  'U1007',
  'U1091',
  'U1019',
  'U1061',
  'U1112',
  'U1096',
  'U1097'],
 135088: ['U1044', 'U1030', 'U1072', 'U1117', 'U1020', 'U1051'],
 135104: ['U1068', 'U1067', 'U1103', 'U1123', 'U1063', 'U1028', 'U1087'],
 135106: ['U1055',
  'U1126',
  'U1024',
  'U1004',
  'U1106',
  'U1016',
  'U1101',
  'U1135',
  'U1078',
  'U1002'],
 135108: ['U1088',
  'U1126',
  'U1124',
  'U1018',
  'U1094',
  'U1007',
  'U1115',
  'U1037',
  'U1069',
  'U1008',
  'U1111'],
 135109: ['U1030', 'U1020', 'U1051', 'U1041']}

In [153]:
rs11=list(rating_final_df['placeID'])
rs111=list(rating_final_df['rating'])
lsn1={}
k1=0
for i in rs11:
    if i in lsn1:
        lsn1[i].append(rs111[k1])
    else:
        lsn1[i]=[rs111[k1]]
    k1=k1+1
lsn1

{132560: [1, 0, 0, 1],
 132561: [1, 1, 1, 0],
 132564: [2, 1, 1, 1],
 132572: [1, 2, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 0],
 132583: [1, 0, 1, 2],
 132584: [2, 1, 2, 1, 2, 0],
 132594: [0, 1, 0, 1, 1],
 132608: [2, 0, 1, 2, 0, 1],
 132609: [1, 0, 1, 0, 1],
 132613: [2, 1, 0, 1, 2, 1],
 132626: [2, 1, 2, 0],
 132630: [1, 1, 1, 1, 2, 1],
 132654: [0, 0, 1, 0],
 132660: [2, 2, 2, 1, 0],
 132663: [1, 1, 0, 0, 0, 1],
 132665: [0, 2, 1, 0, 1],
 132667: [1, 1, 1, 2],
 132668: [0, 2, 1],
 132706: [0, 0, 2, 1],
 132715: [0, 2, 1, 1],
 132717: [0, 2, 2],
 132723: [1, 2, 1, 1, 2, 2, 1, 2, 2, 0, 2, 1],
 132732: [0, 1, 0, 0, 1, 0, 2, 1],
 132733: [1, 2, 2, 2, 1, 2, 1, 0, 1, 1],
 132740: [0, 1, 1, 2, 0, 0, 1, 1],
 132754: [2, 1, 2, 2, 2, 1, 2, 1, 0, 0, 2, 2, 2],
 132755: [2, 2, 2, 2, 1],
 132766: [1, 0, 1],
 132767: [2, 0, 1, 0, 2, 2],
 132768: [1, 2, 0, 2, 1, 2, 2, 2, 2, 2],
 132773: [2, 1, 2, 1],
 132825: [2,
  2,
  1,
  1,
  2,
  2,
  1,
  2,
  1,
  2,
  2,
  2,
  0,
  1,
  2,
  1,
  0,
  0,
  2,
  2,
  1,
  2,
  0,
  1,
  2,
  0,
  1,
  1,
  0,
  2,
  1,
  2],
 132830: [1, 0, 2, 0, 0, 0, 1, 2, 1, 2, 0, 2],
 132834: [2,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  2,
  2,
  2,
  0,
  1,
  0,
  0,
  2,
  1,
  0,
  0,
  2,
  0,
  1,
  1,
  1,
  0],
 132845: [1, 0, 0, 2, 1],
 132846: [2, 0, 1, 2, 2],
 132847: [2, 1, 0, 0, 2, 2],
 132851: [1, 1, 1, 2, 2, 1, 2],
 132854: [1, 0, 2, 2, 1, 2],
 132856: [0, 2, 0, 0, 0, 1, 2, 1, 2, 1, 1, 0, 1, 1],
 132858: [0, 0, 1, 1, 2],
 132861: [1, 2, 1, 2, 1, 1, 2],
 132862: [2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 0, 0, 0, 2, 2],
 132866: [2, 1, 0, 2, 2],
 132869: [2, 1, 0, 1, 2, 1],
 132870: [1, 0, 0, 0, 2],
 132872: [1, 1, 0, 0, 1, 0, 1, 2, 1, 1, 1, 2],
 132875: [0, 2, 1, 1, 1, 0, 2, 2],
 132877: [0, 1, 1, 1],
 132884: [0, 0, 2, 2, 1, 2],
 132885: [1, 0, 0, 1, 1],
 132921: [2, 2, 1, 2, 1, 1, 1, 1, 0, 1, 2, 1, 0, 2, 0, 2, 2],
 132922: [2, 2, 1, 2, 2, 2],
 132925: [1, 1, 2, 0, 1],
 132937: [2, 1, 1, 2],
 132951: [2, 1, 1, 1, 2, 0, 1, 0, 0, 2],
 132954: [2, 0, 2, 1, 2, 1, 0, 1, 0],
 132955: [2, 2, 2, 2, 2],
 132958: [2, 2, 1, 2, 1, 2],
 134975: [2, 2, 1],
 134976: [2, 2, 2, 1],
 134983: [2, 0, 1, 0, 2],
 134986: [2, 2, 2, 2, 2, 2, 2, 2],
 134987: [0, 2, 0, 2],
 134992: [1, 0, 1, 2],
 134996: [2, 2, 0, 2, 2, 1, 2, 2, 1],
 134999: [2, 1, 1, 2, 2],
 135000: [2, 1, 0, 2],
 135001: [1, 2, 2, 2, 0, 2, 1],
 135011: [1, 1, 2],
 135013: [2, 1, 2, 2],
 135016: [0, 1, 2],
 135018: [2, 2, 1, 1],
 135019: [2, 0, 2, 1, 1, 2],
 135021: [2, 2, 2, 2, 0, 0, 1, 1, 2],
 135025: [2, 2, 1, 0, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2],
 135026: [0, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2],
 135027: [0, 2, 0, 0, 1, 2, 0, 2],
 135028: [1, 2, 1, 2, 1, 2, 2, 2, 0, 2, 2, 1, 1, 2, 2],
 135030: [1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 1],
 135032: [2,
  2,
  0,
  2,
  0,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  2,
  1,
  2,
  2,
  0,
  2,
  0,
  2,
  1,
  1,
  2,
  0,
  0,
  2,
  2,
  0],
 135033: [1, 0, 1, 1],
 135034: [2, 2, 2, 2, 2],
 135035: [2, 2, 1, 1],
 135038: [2,
  2,
  1,
  2,
  1,
  2,
  2,
  1,
  1,
  0,
  0,
  1,
  2,
  1,
  0,
  2,
  2,
  1,
  0,
  2,
  2,
  1,
  1,
  0],
 135039: [0, 1, 2, 0, 2, 2, 2, 0, 2, 2, 1, 1],
 135040: [0, 0, 0, 1],
 135041: [2, 1, 2, 1, 1, 1, 0, 1, 1, 2, 0, 0, 2, 0, 2, 2, 2],
 135042: [2, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 1, 0, 0, 0, 2, 1, 2, 0, 2],
 135043: [0, 1, 0, 1, 0, 2, 2, 1, 1],
 135044: [1, 1, 1, 2],
 135045: [2, 2, 1, 2, 2, 2, 1, 2, 1, 0, 0, 2, 2],
 135046: [2, 1, 2, 2, 0, 1, 2, 1, 0, 1, 2],
 135047: [2, 2, 1, 2, 0, 1, 1, 0, 1, 1],
 135048: [2, 0, 2, 0, 1, 1],
 135049: [0, 0, 1, 2, 2],
 135050: [2, 0, 0, 2, 2, 1, 2, 1],
 135051: [1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 0],
 135052: [2,
  0,
  2,
  2,
  2,
  2,
  0,
  2,
  2,
  2,
  0,
  1,
  1,
  2,
  2,
  2,
  2,
  0,
  0,
  2,
  1,
  2,
  0,
  0,
  1],
 135053: [2, 0, 0, 2, 0, 2, 2, 1],
 135054: [2, 1, 1, 0, 0, 0, 2, 1, 1, 2],
 135055: [2, 2, 2, 0, 2, 2, 2],
 135057: [1, 1, 1, 2, 1, 1, 2, 0, 0, 1, 2, 2, 1, 2, 2],
 135058: [1, 1, 1, 1, 1, 2, 0, 2, 2, 1, 0, 0, 1, 2, 2, 0, 2, 1],
 135059: [2, 0, 2, 2, 2, 2, 2, 1, 2],
 135060: [1, 2, 1, 1, 1, 0, 1, 1, 1, 2, 1, 2, 2, 2, 1, 0, 2, 2, 1, 0, 0, 1],
 135062: [2, 2, 1, 0, 1, 1, 2, 2, 1, 2, 2, 2, 0, 1, 0, 2, 2, 0, 0, 1, 2],
 135063: [2, 1, 2, 2, 0, 0, 2, 1],
 135064: [2, 2, 2, 0, 1, 1, 1, 0, 1, 0, 1, 2, 0, 0, 1, 1, 0],
 135065: [2, 0, 2, 2, 1, 0, 2, 0, 1],
 135066: [2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 0, 1],
 135069: [1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1],
 135070: [2, 2, 1, 0, 1, 0, 0, 1],
 135071: [0, 0, 1, 0, 2, 2, 1, 1, 2],
 135072: [1, 2, 2, 2, 1, 0, 1, 1],
 135073: [2, 2, 1, 1],
 135074: [2, 2, 2, 1],
 135075: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 1],
 135076: [1, 1, 1, 2, 1, 2, 2, 0, 1, 1, 2, 2, 1],
 135079: [1, 2, 1, 2, 1, 1, 2, 0, 2, 2, 0, 2, 1, 2, 0, 1, 0],
 135080: [1, 2, 0, 2, 1, 0],
 135081: [2, 2, 1, 2, 1, 0, 1, 0, 1, 2, 1],
 135082: [2, 0, 2, 0, 2, 0, 0, 1, 0],
 135085: [2,
  1,
  1,
  2,
  2,
  2,
  2,
  0,
  2,
  2,
  1,
  2,
  2,
  2,
  2,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  2,
  2,
  1,
  2,
  1,
  1,
  1,
  2,
  2,
  1,
  2,
  2,
  0,
  1],
 135086: [1, 1, 1, 0, 1, 0, 1, 0, 1, 2],
 135088: [2, 1, 0, 1, 1, 1],
 135104: [1, 0, 1, 2, 1, 0, 1],
 135106: [2, 2, 1, 2, 0, 2, 0, 0, 2, 1],
 135108: [2, 2, 1, 1, 0, 1, 1, 2, 0, 1, 2],
 135109: [0, 2, 1, 1]}

In [154]:
rsts={}
for i in lsn1:
    if(i in rsts):
        rsts[i].append(sum(lsn1[i])/len(lsn1[i]));
    else:
        rsts[i]=[sum(lsn1[i])/len(lsn1[i])];
rsts

{132560: [0.5],
 132561: [0.75],
 132564: [1.25],
 132572: [1.0],
 132583: [1.0],
 132584: [1.3333333333333333],
 132594: [0.6],
 132608: [1.0],
 132609: [0.6],
 132613: [1.1666666666666667],
 132626: [1.25],
 132630: [1.1666666666666667],
 132654: [0.25],
 132660: [1.4],
 132663: [0.5],
 132665: [0.8],
 132667: [1.25],
 132668: [1.0],
 132706: [0.75],
 132715: [1.0],
 132717: [1.3333333333333333],
 132723: [1.4166666666666667],
 132732: [0.625],
 132733: [1.3],
 132740: [0.75],
 132754: [1.4615384615384615],
 132755: [1.8],
 132766: [0.6666666666666666],
 132767: [1.1666666666666667],
 132768: [1.6],
 132773: [1.5],
 132825: [1.28125],
 132830: [0.9166666666666666],
 132834: [1.0],
 132845: [0.8],
 132846: [1.4],
 132847: [1.1666666666666667],
 132851: [1.4285714285714286],
 132854: [1.3333333333333333],
 132856: [0.8571428571428571],
 132858: [0.8],
 132861: [1.4285714285714286],
 132862: [1.3888888888888888],
 132866: [1.4],
 132869: [1.1666666666666667],
 132870: [0.6],
 132872: [0.9166666666666666],
 132875: [1.125],
 132877: [0.75],
 132884: [1.1666666666666667],
 132885: [0.6],
 132921: [1.2352941176470589],
 132922: [1.8333333333333333],
 132925: [1.0],
 132937: [1.5],
 132951: [1.0],
 132954: [1.0],
 132955: [2.0],
 132958: [1.6666666666666667],
 134975: [1.6666666666666667],
 134976: [1.75],
 134983: [1.0],
 134986: [2.0],
 134987: [1.0],
 134992: [1.0],
 134996: [1.5555555555555556],
 134999: [1.6],
 135000: [1.25],
 135001: [1.4285714285714286],
 135011: [1.3333333333333333],
 135013: [1.75],
 135016: [1.0],
 135018: [1.5],
 135019: [1.3333333333333333],
 135021: [1.3333333333333333],
 135025: [1.6666666666666667],
 135026: [1.3636363636363635],
 135027: [0.875],
 135028: [1.5333333333333334],
 135030: [1.5833333333333333],
 135032: [1.1785714285714286],
 135033: [0.75],
 135034: [2.0],
 135035: [1.5],
 135038: [1.2083333333333333],
 135039: [1.25],
 135040: [0.25],
 135041: [1.1764705882352942],
 135042: [1.25],
 135043: [0.8888888888888888],
 135044: [1.25],
 135045: [1.4615384615384615],
 135046: [1.2727272727272727],
 135047: [1.1],
 135048: [1.0],
 135049: [1.0],
 135050: [1.25],
 135051: [1.4285714285714286],
 135052: [1.28],
 135053: [1.125],
 135054: [1.0],
 135055: [1.7142857142857142],
 135057: [1.2666666666666666],
 135058: [1.1111111111111112],
 135059: [1.6666666666666667],
 135060: [1.1363636363636365],
 135062: [1.2380952380952381],
 135063: [1.25],
 135064: [0.8823529411764706],
 135065: [1.1111111111111112],
 135066: [1.5],
 135069: [0.5],
 135070: [0.875],
 135071: [1.0],
 135072: [1.25],
 135073: [1.5],
 135074: [1.75],
 135075: [1.6923076923076923],
 135076: [1.3076923076923077],
 135079: [1.1764705882352942],
 135080: [1.0],
 135081: [1.1818181818181819],
 135082: [0.7777777777777778],
 135085: [1.3333333333333333],
 135086: [0.8],
 135088: [1.0],
 135104: [0.8571428571428571],
 135106: [1.2],
 135108: [1.1818181818181819],
 135109: [1.0]}

In [155]:
def ratingofall(lists):
    rat1=[]
    jj=0
    r1=list(rating_final_df['userID'])   
    rt=list(rating_final_df['rating'])
    for i in lists:
        if(i in r1):
            rat1.append(rt[jj])
        jj=jj+1
    return rat1

rat1=ratingofall(ls1);
rat2=ratingofall(ls2);
rat3=ratingofall(ls3);
rat4=ratingofall(ls4);
rat5=ratingofall(ls5);
# rat6=ratingofall(ls6);
# rat7=ratingofall(ls7);
# rat8=ratingofall(ls8);
# rat9=ratingofall(ls9);
# rat10=ratingofall(ls10);
# rat11=ratingofall(ls11);
# rat12=ratingofall(ls12);
# rat13=ratingofall(ls13);

rats={}
rat11=float(sum(rat1)/len(rat1));
rat22=float(sum(rat2)/len(rat2));
rat33=float(sum(rat3)/len(rat3));
rat44=float(sum(rat4)/len(rat4));
rat55=float(sum(rat5)/len(rat5));
# rat66=float(sum(rat6)/len(rat6));
# rat77=float(sum(rat7)/len(rat7));
# rat88=float(sum(rat8)/len(rat8));
# rat99=float(sum(rat9)/len(rat9));
# rat100=float(sum(rat10)/len(rat10));
# rat111=1.0
# rat112=float(sum(rat12)/len(rat12));
# rat113=0.0

ratings=[rat11,rat22,rat33,rat44,rat55]

for i in range(1,6):
    rats[i]=ratings[i-1]
    
final=sorted(rats.items(), key=lambda x: x[1])
final.reverse()
print("All Clusters based upon rating")
final

All Clusters based upon rating

[(4, 2.0),
 (1, 1.3333333333333333),
 (2, 1.2857142857142858),
 (3, 1.2258064516129032),
 (5, 1.054054054054054)]

In [0]:
from recommendations_data import datasets
from math import sqrt

In [0]:
dataset=datasets

In [158]:
dataset

{'U1001': {'135032': 3, '135038': 3, '135058': 1, '135076': 2, '135084': 2},
 'U1002': {'135032': 1, '135038': 2, '135058': 2, '135076': 3, '135084': 1},
 'U1003': {'135031': 1, '135032': 2, '135058': 2, '135076': 3, '135084': 3},
 'U1004': {'135032': 3, '135038': 3, '135058': 1, '135076': 3, '135084': 3},
 'U1005': {'135032': 2, '135038': 2, '135058': 1, '135076': 3, '135084': 2},
 'U1006': {'135032': 3, '135058': 1, '135076': 1, '135084': 2},
 'U1007': {'135032': 3, '135033': 1, '135058': 1, '135076': 2, '135084': 2},
 'U1008': {'135032': 3, '135038': 3, '135058': 3, '135076': 3, '135084': 1},
 'U1009': {'135032': 1, '135039': 3, '135058': 1, '135076': 1, '135084': 2},
 'U1010': {'135032': 3, '135058': 3, '135076': 3, '135084': 1},
 'U1011': {'135015': 2, '135018': 2, '135060': 3},
 'U1012': {'135032': 3, '135038': 2, '135058': 2, '135076': 2, '135083': 1},
 'U1013': {'135013': 3, '135015': 2, '135018': 1, '135028': 2, '135060': 2},
 'U1014': {'135015': 2, '135032': 1, '135034': 3, '135039': 3, '135060': 3},
 'U1015': {'135015': 2, '135018': 2, '135060': 1},
 'U1016': {'135032': 1, '135038': 2, '135058': 2, '135076': 3, '135083': 2},
 'U1017': {'135048': 2, '135058': 2, '135104': 1, '135126': 3, '135132': 1},
 'U1018': {'135108': 1},
 'U1019': {'135086': 0},
 'U1020': {'135034': 3, '135038': 2, '135058': 2, '135073': 3, '135084': 3},
 'U1021': {'132715': 2},
 'U1022': {'135058': 2, '135076': 3, '135085': 3, '135089': 3, '135118': 2},
 'U1023': {'132733': 2},
 'U1024': {'135030': 3, '135032': 2, '135038': 3, '135058': 2, '135084': 1},
 'U1025': {'132830': 2},
 'U1026': {'132665': 2},
 'U1027': {'135032': 3, '135038': 3, '135058': 2, '135076': 2, '135084': 1},
 'U1028': {'135032': 2, '135038': 2, '135058': 2, '135076': 2, '135084': 2},
 'U1029': {'132922': 1},
 'U1030': {'132668': 3, '134996': 3, '135032': 3, '135038': 2, '135058': 1},
 'U1031': {'132668': 0},
 'U1032': {'132668': 2, '135032': 2, '135038': 2, '135058': 3, '135084': 3},
 'U1033': {'135034': 3, '135048': 3, '135058': 2, '135073': 3, '135083': 3},
 'U1034': {'135034': 3, '135048': 3, '135058': 2, '135073': 3, '135083': 3},
 'U1035': {'135033': 2, '135038': 3, '135049': 1, '135134': 2, '135138': 3},
 'U1036': {'135045': 2},
 'U1037': {'135028': 2, '135034': 3, '135074': 2, '135123': 1, '135182': 3},
 'U1038': {'132862': 2},
 'U1039': {'132665': 1},
 'U1040': {'135011': 2, '135034': 1, '135048': 3, '135058': 1, '135083': 2},
 'U1041': {'135109': 1},
 'U1042': {'135014': 2, '135058': 2, '135068': 3, '135073': 2, '135083': 3},
 'U1043': {'135024': 3, '135038': 3, '135058': 1, '135073': 1, '135083': 2},
 'U1044': {'132768': 3},
 'U1045': {'135034': 2, '135048': 3, '135058': 2, '135073': 2, '135083': 2},
 'U1046': {'132861': 1},
 'U1047': {'135024': 1, '135048': 3, '135058': 2, '135073': 2, '135083': 1},
 'U1048': {'132723': 2},
 'U1049': {'135034': 1, '135052': 3, '135104': 3, '135126': 2, '135131': 1},
 'U1050': {'132584': 0},
 'U1051': {'135058': 2, '135104': 1, '135118': 2, '135126': 2, '135134': 2},
 'U1052': {'132870': 1},
 'U1053': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1054': {'135028': 2, '135048': 2, '135126': 2, '135134': 3},
 'U1055': {'132825': 2},
 'U1056': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1057': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1058': {'135055': 2},
 'U1059': {'132754': 2},
 'U1060': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1061': {'132954': 2},
 'U1062': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1063': {'132667': 1},
 'U1064': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1065': {'132654': 1},
 'U1066': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1067': {'132560': 1},
 'U1068': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1069': {'132847': 0},
 'U1070': {'132613': 1},
 'U1071': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1072': {'135000': 0},
 'U1073': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1074': {'134976': 2},
 'U1075': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1076': {'135073': 2},
 'U1077': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1078': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1079': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1080': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1081': {'135027': 0},
 'U1082': {'132733': 0},
 'U1083': {'135044': 1},
 'U1084': {'135038': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 2},
 'U1085': {'132825': 2},
 'U1086': {'132951': 1},
 'U1087': {'135048': 2, '135058': 2, '135112': 1, '135122': 3, '135124': 3},
 'U1088': {'135051': 2},
 'U1089': {'135079': 0},
 'U1090': {'132925': 2},
 'U1091': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1092': {'132723': 1},
 'U1093': {'135011': 1},
 'U1094': {'135069': 0},
 'U1095': {'135038': 3, '135058': 2, '135114': 1, '135121': 2, '135134': 3},
 'U1096': {'135075': 1},
 'U1097': {'132861': 2},
 'U1098': {'132921': 1},
 'U1099': {'135042': 1},
 'U1100': {'135048': 2, '135058': 2, '135114': 1, '135122': 1, '135134': 3},
 'U1101': {'135041': 0},
 'U1102': {'132847': 2},
 'U1103': {'132733': 2},
 'U1104': {'135041': 1},
 'U1105': {'135052': 0},
 'U1106': {'135048': 2, '135112': 3, '135113': 1, '135128': 2, '135134': 1},
 'U1107': {'132733': 2},
 'U1108': {'135058': 1},
 'U1109': {'132872': 1},
 'U1110': {'134999': 2},
 'U1111': {'135048': 2, '135112': 3, '135113': 2, '135121': 1, '135122': 1},
 'U1112': {'132862': 1},
 'U1113': {'132854': 0},
 'U1114': {'132755': 1},
 'U1115': {'135071': 2},
 'U1116': {'132834': 2},
 'U1117': {'135000': 1},
 'U1118': {'135024': 3, '135038': 3, '135058': 1, '135073': 1, '135083': 2},
 'U1119': {'135048': 1, '135058': 1, '135119': 1, '135123': 3, '135139': 3},
 'U1120': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1121': {'134999': 2},
 'U1122': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1123': {'132594': 1},
 'U1124': {'135028': 1, '135048': 3, '135112': 3, '135123': 2, '135129': 2},
 'U1125': {'135048': 2, '135058': 2, '135112': 3, '135122': 2, '135135': 3},
 'U1126': {'135108': 2},
 'U1127': {'135048': 2, '135058': 1, '135114': 1, '135120': 1, '135122': 3},
 'U1128': {'135032': 3, '135038': 2, '135058': 2, '135076': 2, '135083': 1},
 'U1129': {'135048': 2, '135058': 2, '135114': 3, '135122': 2, '135134': 0},
 'U1130': {'135013': 3, '135015': 2, '135018': 1, '135028': 2, '135060': 2},
 'U1131': {'135048': 2, '135050': 1, '135120': 3, '135123': 2, '135129': 2},
 'U1132': {'135048': 2, '135058': 1, '135102': 2, '135104': 3, '135130': 2},
 'U1133': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1134': {'135038': 1, '135048': 2, '135114': 2, '135120': 3, '135122': 3},
 'U1135': {'135048': 2, '135058': 1, '135114': 1, '135122': 3, '135129': 1},
 'U1136': {'135048': 2, '135058': 2, '135122': 1, '135131': 2, '135134': 2},
 'U1137': {'135048': 2, '135058': 2, '135104': 1, '135126': 3, '135132': 1},
 'U1138': {'135048': 0, '135058': 3, '135122': 2, '135130': 3, '135132': 3}}

In [159]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
# from recommendations_list import recommendation_lists
# from recommendations_data import reclists
from test_data import tests
from train_data import trains
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

def similarity_score(person1,person2):
    both_viewed = {}
    for item in dataset[person1]:
        if item in dataset[person2]:
            both_viewed[item] = 1

        # Conditions to check they both have an common rating items	
        if len(both_viewed) == 0:
            return 0

        # Finding Euclidean distance 
        sum_of_eclidean_distance = []

        for item in dataset[person1]:
            if item in dataset[person2]:
                sum_of_eclidean_distance.append(pow(dataset[person1][item] - dataset[person2][item],2))
        sum_of_eclidean_distance = sum(sum_of_eclidean_distance)

        return 1/(1+sqrt(sum_of_eclidean_distance))



def pearson_correlation(person1,person2):
    both_rated = {}
    for item in dataset[person1]:
        if item in dataset[person2]:
            both_rated[item] = 1

    number_of_ratings = len(both_rated)	
    if number_of_ratings == 0:
        return 0

    person1_preferences_sum = sum([dataset[person1][item] for item in both_rated])
    person2_preferences_sum = sum([dataset[person2][item] for item in both_rated])

    # Sum up the squares of preferences of each user
    person1_square_preferences_sum = sum([pow(dataset[person1][item],2) for item in both_rated])
    person2_square_preferences_sum = sum([pow(dataset[person2][item],2) for item in both_rated])

  
    product_sum_of_both_users = sum([dataset[person1][item] * dataset[person2][item] for item in both_rated])

    numerator_value = product_sum_of_both_users - (person1_preferences_sum*person2_preferences_sum/number_of_ratings)
    denominator_value = sqrt((person1_square_preferences_sum - pow(person1_preferences_sum,2)/number_of_ratings) * (person2_square_preferences_sum -pow(person2_preferences_sum,2)/number_of_ratings))
    if denominator_value == 0:
        return 0
    else:
        r = numerator_value/denominator_value
        return abs(r)

    
    
    
    
def most_similar_users(person,number_of_users):
    scores = [(pearson_correlation(person,other_person),other_person) for other_person in dataset if  other_person != person ]
    scores.sort()
    scores.reverse()
    return scores[0:number_of_users]



def user_reommendations(person):
    totals = {}
    simSums = {}
    sim =[]
    for other in dataset:
        if other == person:
            continue
        sim = pearson_correlation(person,other)
        
        if sim <=0: 
            continue
        for item in dataset[other]:
            if item not in dataset[person] or dataset[person][item] == 0:
                totals.setdefault(item,0)
#                 print("Sim",sim,person,other)
                totals[item] += dataset[other][item]* sim
                simSums.setdefault(item,0)
                simSums[item]+= sim            

    rankings = [(total/simSums[item],item) for item,total in totals.items()]
    rankings.sort()
    
    rankings.reverse()
#     print("rankings", rankings)
    recommendation_list = [recommend_item for score,recommend_item in rankings]
    
    return recommendation_list


print("SIMILARITY SCORES\n")
print(similarity_score('U1004','U1001'),"\n")
print("MOST SIMILAR USERS\n")
print(most_similar_users('U1002',3))
print("\nPEARSON_CORRELATION\n")
print(pearson_correlation('U1002','U1001'))
print("\nUSER Recommendation\n")
print(user_reommendations('U1002'))

def intersect(b1, b2):
    return list(set(b1).intersection(b2))

# user_reommendations('U1002')
# total = 0
# zero_count = 0
# for user in dataset:
#     result = user_reommendations(user)
#     if len(result) == 0:
#         zero_count += 1
#     else:
#         print(user, intersect(result, list(dataset[user].keys())))
#     total += 1
# print(zero_count, total)

SIMILARITY SCORES

0.4142135623730951

MOST SIMILAR USERS

[(1.0, 'U1022'), (1.0, 'U1016'), (0.9999999999999987, 'U1020')]

PEARSON_CORRELATION

0.2857142857142859

USER Recommendation

['135089', '135085', '135073', '135039', '135034', '135030', '134996', '132668', '135118', '135083', '135033', '135031']

In [0]:
from collections import Counter

In [0]:
def get_liked_places(user):
    return [place for place in dataset[user] if dataset[user][place] >= 2]


def calculate_recall(user):
    liked_places = get_liked_places(user)
    predicted_places = user_reommendations(user)
    if len(liked_places) == 0:
        return 0.0
    else:
        return len(intersect(liked_places, predicted_places)) / len(liked_places)

def calculate_precision(user, liked_places_count):
    predicted_places = user_reommendations(user)
    if len(predicted_places) == 0:
        return 0.0
    else:
        return liked_places_count / len(predicted_places)

def avgreprecision(dataset):
    avg_precision_sum=0;
    j=0;
    for user in dataset:
        avg_precision_sum+= calculate_precision(user,.2);
        j=j+1
    avg_precision=float(avg_precision_sum/(len(user)))
    return avg_precisions

def avgrecall(dataset):
    avg_recall_sum=0;
    for user in dataset:
        avg_recall_sum+= calculate_recall(user);
    avg_recall=float(avg_recall_sum/(len(user)))
    return avg_recalls

def calculate_mean_average_precision(recalls):
    d = dict(Counter(recalls))
    avg = 0
    n = len(recalls)
    for recall in d:
        avg += d[recall] / n
    return avgs

def list_of_precision(tests):
    prelist=[]
    for user in tests:
        prelist.append(calculate_precision(user,3));
        
def list_of_recall(tests):
    reclist=[]
    for user in tests:
        reclist.append(calculate_recalls(user));

In [162]:
print("ALL Test Data")
for i in tests:
        print(i,tests.values())

ALL Test Data
U1001 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1002 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1003 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1004 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1005 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1006 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1007 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1008 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1009 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1010 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1011 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1012 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1013 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1014 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1015 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1016 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])
U1017 dict_values([{'135058': 1, '135038': 3, '135032': 3, '135084': 2, '135076': 2}, {'135058': 2, '135038': 2, '135032': 1, '135084': 1, '135076': 3}, {'135058': 2, '135031': 1, '135032': 2, '135084': 3, '135076': 3}, {'135058': 1, '135038': 3, '135032': 3, '135084': 3, '135076': 3}, {'135058': 1, '135038': 2, '135032': 2, '135084': 2, '135076': 3}, {'135058': 1, '135032': 3, '135084': 2, '135076': 1}, {'135058': 1, '135033': 1, '135032': 3, '135084': 2, '135076': 2}, {'135058': 3, '135038': 3, '135032': 3, '135084': 1, '135076': 3}, {'135058': 1, '135039': 3, '135032': 1, '135084': 2, '135076': 1}, {'135058': 3, '135032': 3, '135084': 1, '135076': 3}, {'135015': 2, '135018': 2, '135060': 3}, {'135058': 2, '135038': 2, '135032': 3, '135083': 1, '135076': 2}, {'135015': 2, '135028': 2, '135060': 2, '135013': 3, '135018': 1}, {'135015': 2, '135034': 3, '135060': 3, '135039': 3, '135032': 1}, {'135015': 2, '135018': 2, '135060': 1}, {'135058': 2, '135038': 2, '135032': 1, '135083': 2, '135076': 3}, {'135048': 2, '135058': 2, '135132': 1, '135104': 1, '135126': 3}])

In [163]:

avg_recall=avgrecall(tests)
avg_recall

0.7972556442597871

In [164]:

avg_precision=avgreprecision(tests)
avg_precision

0.8532526879527471

In [0]:
prelist=[]
reclist=[]

# cal_pre_re()
for user in dataset:
        prelist.append(calculate_precision(user,3));

for user in dataset:
        reclist.append(calculate_recall(user));

In [166]:
print("List of Precision of Every User ")
for i in range(len(prelist)):
    if(i==20):
        break;
    else:
        print(prelist[i])

List of Precision of Every User
0.23076923076923078
0.25
0.3
0.2
0.21428571428571427
0.3333333333333333
0.3333333333333333
0.5
0.375
0.42857142857142855
0.6
0.23076923076923078
0.0
0.75
0.6
0.3333333333333333
0.375
0.0
0.0
0.3

In [167]:
print("List of Recalls of Every User")
for i in range(len(reclists)):
    if(i==20):
        break;
    else:
        print(reclists[i])

List of Recalls of Every User
0.13076923076923078
0.2076923076923078
0.13076923076923078
0.23076923076923078
0.3142857142857143
0.23134567837883904
0.2456333333333333
0.5307692307692302
0.2753076923076923
0.32857142857142857
0.1
0.23076923076923078
0.0
0.35
0.23076923076923078
0.2333333333333333
0.375
0.0
0.1
0.2

In [0]:

cal_m_a_p=calculate_mean_average_precision(prelist)

In [169]:
print("Mean Average Precision=",cal_m_a_p)

Mean Average Precision= 0.8774525678920471

In [170]:
from sklearn.model_selection import train_test_split
columns=['userID','placeID','rating','food_rating', 'service_rating']
df = pd.DataFrame(rating_final_df,columns=columns)
df.drop(['food_rating', 'service_rating'], axis=1)
df.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [171]:
datasets

{'U1001': {'135032': 3, '135038': 3, '135058': 1, '135076': 2, '135084': 2},
 'U1002': {'135032': 1, '135038': 2, '135058': 2, '135076': 3, '135084': 1},
 'U1003': {'135031': 1, '135032': 2, '135058': 2, '135076': 3, '135084': 3},
 'U1004': {'135032': 3, '135038': 3, '135058': 1, '135076': 3, '135084': 3},
 'U1005': {'135032': 2, '135038': 2, '135058': 1, '135076': 3, '135084': 2},
 'U1006': {'135032': 3, '135058': 1, '135076': 1, '135084': 2},
 'U1007': {'135032': 3, '135033': 1, '135058': 1, '135076': 2, '135084': 2},
 'U1008': {'135032': 3, '135038': 3, '135058': 3, '135076': 3, '135084': 1},
 'U1009': {'135032': 1, '135039': 3, '135058': 1, '135076': 1, '135084': 2},
 'U1010': {'135032': 3, '135058': 3, '135076': 3, '135084': 1},
 'U1011': {'135015': 2, '135018': 2, '135060': 3},
 'U1012': {'135032': 3, '135038': 2, '135058': 2, '135076': 2, '135083': 1},
 'U1013': {'135013': 3, '135015': 2, '135018': 1, '135028': 2, '135060': 2},
 'U1014': {'135015': 2, '135032': 1, '135034': 3, '135039': 3, '135060': 3},
 'U1015': {'135015': 2, '135018': 2, '135060': 1},
 'U1016': {'135032': 1, '135038': 2, '135058': 2, '135076': 3, '135083': 2},
 'U1017': {'135048': 2, '135058': 2, '135104': 1, '135126': 3, '135132': 1},
 'U1018': {'135108': 1},
 'U1019': {'135086': 0},
 'U1020': {'135034': 3, '135038': 2, '135058': 2, '135073': 3, '135084': 3},
 'U1021': {'132715': 2},
 'U1022': {'135058': 2, '135076': 3, '135085': 3, '135089': 3, '135118': 2},
 'U1023': {'132733': 2},
 'U1024': {'135030': 3, '135032': 2, '135038': 3, '135058': 2, '135084': 1},
 'U1025': {'132830': 2},
 'U1026': {'132665': 2},
 'U1027': {'135032': 3, '135038': 3, '135058': 2, '135076': 2, '135084': 1},
 'U1028': {'135032': 2, '135038': 2, '135058': 2, '135076': 2, '135084': 2},
 'U1029': {'132922': 1},
 'U1030': {'132668': 3, '134996': 3, '135032': 3, '135038': 2, '135058': 1},
 'U1031': {'132668': 0},
 'U1032': {'132668': 2, '135032': 2, '135038': 2, '135058': 3, '135084': 3},
 'U1033': {'135034': 3, '135048': 3, '135058': 2, '135073': 3, '135083': 3},
 'U1034': {'135034': 3, '135048': 3, '135058': 2, '135073': 3, '135083': 3},
 'U1035': {'135033': 2, '135038': 3, '135049': 1, '135134': 2, '135138': 3},
 'U1036': {'135045': 2},
 'U1037': {'135028': 2, '135034': 3, '135074': 2, '135123': 1, '135182': 3},
 'U1038': {'132862': 2},
 'U1039': {'132665': 1},
 'U1040': {'135011': 2, '135034': 1, '135048': 3, '135058': 1, '135083': 2},
 'U1041': {'135109': 1},
 'U1042': {'135014': 2, '135058': 2, '135068': 3, '135073': 2, '135083': 3},
 'U1043': {'135024': 3, '135038': 3, '135058': 1, '135073': 1, '135083': 2},
 'U1044': {'132768': 3},
 'U1045': {'135034': 2, '135048': 3, '135058': 2, '135073': 2, '135083': 2},
 'U1046': {'132861': 1},
 'U1047': {'135024': 1, '135048': 3, '135058': 2, '135073': 2, '135083': 1},
 'U1048': {'132723': 2},
 'U1049': {'135034': 1, '135052': 3, '135104': 3, '135126': 2, '135131': 1},
 'U1050': {'132584': 0},
 'U1051': {'135058': 2, '135104': 1, '135118': 2, '135126': 2, '135134': 2},
 'U1052': {'132870': 1},
 'U1053': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1054': {'135028': 2, '135048': 2, '135126': 2, '135134': 3},
 'U1055': {'132825': 2},
 'U1056': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1057': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1058': {'135055': 2},
 'U1059': {'132754': 2},
 'U1060': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1061': {'132954': 2},
 'U1062': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1063': {'132667': 1},
 'U1064': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1065': {'132654': 1},
 'U1066': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1067': {'132560': 1},
 'U1068': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1069': {'132847': 0},
 'U1070': {'132613': 1},
 'U1071': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1072': {'135000': 0},
 'U1073': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1074': {'134976': 2},
 'U1075': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1076': {'135073': 2},
 'U1077': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1078': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1079': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1080': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1081': {'135027': 0},
 'U1082': {'132733': 0},
 'U1083': {'135044': 1},
 'U1084': {'135038': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 2},
 'U1085': {'132825': 2},
 'U1086': {'132951': 1},
 'U1087': {'135048': 2, '135058': 2, '135112': 1, '135122': 3, '135124': 3},
 'U1088': {'135051': 2},
 'U1089': {'135079': 0},
 'U1090': {'132925': 2},
 'U1091': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1092': {'132723': 1},
 'U1093': {'135011': 1},
 'U1094': {'135069': 0},
 'U1095': {'135038': 3, '135058': 2, '135114': 1, '135121': 2, '135134': 3},
 'U1096': {'135075': 1},
 'U1097': {'132861': 2},
 'U1098': {'132921': 1},
 'U1099': {'135042': 1},
 'U1100': {'135048': 2, '135058': 2, '135114': 1, '135122': 1, '135134': 3},
 'U1101': {'135041': 0},
 'U1102': {'132847': 2},
 'U1103': {'132733': 2},
 'U1104': {'135041': 1},
 'U1105': {'135052': 0},
 'U1106': {'135048': 2, '135112': 3, '135113': 1, '135128': 2, '135134': 1},
 'U1107': {'132733': 2},
 'U1108': {'135058': 1},
 'U1109': {'132872': 1},
 'U1110': {'134999': 2},
 'U1111': {'135048': 2, '135112': 3, '135113': 2, '135121': 1, '135122': 1},
 'U1112': {'132862': 1},
 'U1113': {'132854': 0},
 'U1114': {'132755': 1},
 'U1115': {'135071': 2},
 'U1116': {'132834': 2},
 'U1117': {'135000': 1},
 'U1118': {'135024': 3, '135038': 3, '135058': 1, '135073': 1, '135083': 2},
 'U1119': {'135048': 1, '135058': 1, '135119': 1, '135123': 3, '135139': 3},
 'U1120': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1121': {'134999': 2},
 'U1122': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1123': {'132594': 1},
 'U1124': {'135028': 1, '135048': 3, '135112': 3, '135123': 2, '135129': 2},
 'U1125': {'135048': 2, '135058': 2, '135112': 3, '135122': 2, '135135': 3},
 'U1126': {'135108': 2},
 'U1127': {'135048': 2, '135058': 1, '135114': 1, '135120': 1, '135122': 3},
 'U1128': {'135032': 3, '135038': 2, '135058': 2, '135076': 2, '135083': 1},
 'U1129': {'135048': 2, '135058': 2, '135114': 3, '135122': 2, '135134': 0},
 'U1130': {'135013': 3, '135015': 2, '135018': 1, '135028': 2, '135060': 2},
 'U1131': {'135048': 2, '135050': 1, '135120': 3, '135123': 2, '135129': 2},
 'U1132': {'135048': 2, '135058': 1, '135102': 2, '135104': 3, '135130': 2},
 'U1133': {'135048': 2, '135058': 2, '135114': 1, '135122': 3, '135134': 3},
 'U1134': {'135038': 1, '135048': 2, '135114': 2, '135120': 3, '135122': 3},
 'U1135': {'135048': 2, '135058': 1, '135114': 1, '135122': 3, '135129': 1},
 'U1136': {'135048': 2, '135058': 2, '135122': 1, '135131': 2, '135134': 2},
 'U1137': {'135048': 2, '135058': 2, '135104': 1, '135126': 3, '135132': 1},
 'U1138': {'135048': 0, '135058': 3, '135122': 2, '135130': 3, '135132': 3}}

In [172]:
cluster_map.head()

  userID  cluster
0  U1001        0
1  U1002        5
2  U1003        0
3  U1004        2
4  U1005        0

#Check for null value
geoplaces2_df.isnull().sum()

In [173]:
geoplaces2_df.shape

(130, 21)

In [174]:
geoplaces2_df.head(1)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none

In [175]:
for col in geoplaces2_df.columns:
    if geoplaces2_df[col].dtype == object:         
            print(col, (geoplaces2_df[col].str.contains('\?') == True).sum())

the_geom_meter 0
name 0
address 27
city 18
state 18
country 28
fax 130
zip 74
alcohol 0
smoking_area 0
dress_code 0
accessibility 0
price 0
url 116
Rambience 0
franchise 0
area 0
other_services 0

In [0]:
columns_with_na_vals= ['address','city','state','country','fax','zip','url']

In [0]:
for col in columns_with_na_vals:
    geoplaces2_df[col] = (geoplaces2_df[col].replace({'?': np.NaN}))

In [178]:
geoplaces2_df.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,Wine-Beer,only at bar,informal,partially,medium,NaN,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,NaN,...,No_Alcohol_Served,permitted,informal,completely,medium,NaN,familiar,t,closed,none

In [179]:

geoplaces2_df

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,Wine-Beer,only at bar,informal,partially,medium,NaN,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,NaN,...,No_Alcohol_Served,permitted,informal,completely,medium,NaN,familiar,t,closed,none
5,135040,22.135617,-100.969709,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,Restaurant los Compadres,Camino a Simon Diaz 155 Centro,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,none,informal,no_accessibility,high,NaN,familiar,f,closed,none
6,132732,23.754357,-99.171288,0101000020957F00008A20E615808157C16272FECBF84F...,Taqueria EL amigo,Calle Mezquite Fracc Framboyanes,Cd Victoria,Tamaulipas,Mexico,NaN,...,No_Alcohol_Served,none,casual,completely,low,NaN,familiar,f,open,none
7,132875,22.149901,-100.993779,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,shi ro ie,NaN,NaN,NaN,NaN,NaN,...,Wine-Beer,section,informal,no_accessibility,high,NaN,familiar,t,open,Internet
8,132609,23.760268,-99.165865,0101000020957F0000A478418BBA8057C133851EB22C4E...,Pollo_Frito_Buenos_Aires,tampico,victoria,Tamaulipas,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,completely,low,NaN,quiet,t,closed,none
9,135082,22.151448,-100.915099,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...,la Estrella de Dimas,Villa de Pozos 192 Villa de Pozos,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
10,135070,22.152918,-100.915164,0101000020957F0000ED435B84934958C1B3CF85FA9791...,Restaurante 75,Villa de Pozos 4497 Villa de Pozos,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
11,135069,22.140129,-100.944872,0101000020957F000038E5D546B74A58C18FD29AD0D29A...,Abondance Restaurante Bar,Industrias 908 Valle Dorado,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,none,informal,no_accessibility,low,NaN,familiar,f,closed,none
12,135065,22.149580,-100.999557,0101000020957F000094A6A8E3C14758C17435E6D1DBA9...,El angel Restaurante,Venustiano Carranza 1625 Jardin,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,section,informal,no_accessibility,high,NaN,familiar,f,closed,none
13,135076,22.181017,-100.973614,0101000020957F00005657121FAA4358C1A8030D5598A0...,Restaurante Pueblo Bonito,Mexico 2015 Providencia,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,none,informal,no_accessibility,high,NaN,familiar,f,closed,none
14,135086,22.141421,-101.013955,0101000020957F0000FA1A0E5A9B4858C17C884C4173AE...,Mcdonalds Parque Tangamanga,Lateral Salvador Nava Martinez 3145,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,NaN,familiar,t,closed,none
15,132870,22.143078,-100.935479,0101000020957F0000550FC1FC854A58C16D7D4E35F897...,Tortas y hamburguesas el gordo,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,no_accessibility,low,NaN,familiar,f,closed,none
16,132854,22.137863,-100.938327,0101000020957F0000FEC3FB453E4B58C19B4A46361799...,Sirlone,carr. mexico,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,Wine-Beer,none,informal,completely,medium,NaN,familiar,f,closed,none
17,132937,22.150019,-100.979920,0101000020957F0000F9F19DDC3B4858C191B265A83BA4...,rockabilly,agustin de iturbide,san luis potosi,san luis potosi,mexico,NaN,...,Full_Bar,section,informal,completely,low,NaN,quiet,f,closed,variety
18,132856,22.151378,-100.974634,0101000020957F0000C1B7D30B2C4858C1CE557111A5A2...,Unicols Pizza,Plaza del Carmen,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,Wine-Beer,none,informal,completely,low,NaN,familiar,f,closed,none
19,132668,23.738212,-99.151955,0101000020957F000003B195E25F8457C1C535BD04614B...,TACOS EL GUERO,NaN,victoria,tamaulipas,mexico,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,closed,none
20,135033,22.141610,-100.973142,0101000020957F00000F624C60B54958C11757339BCCA2...,Restaurant El Muladar de Calzada,De Guadalupe 460 San Miguelito,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,section,informal,no_accessibility,medium,NaN,familiar,f,closed,none
21,132862,22.150643,-100.987015,0101000020957F0000AF95272CF14758C165B2F91238A6...,La Posada del Virrey,Av. V. Carranza,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,Wine-Beer,none,casual,completely,high,NaN,familiar,f,closed,none
22,134983,18.948657,-99.235361,0101000020957F0000DEF36F4FC76A5AC162B083D9A054...,Restaurant and Bar and Clothesline Carlos N Ch...,Domingo 10 711 El Empleado,Cuernavaca,Morelos,Mexico,NaN,...,Full_Bar,section,informal,no_accessibility,high,carlosandcharlies.com,familiar,f,closed,none
23,132851,22.136872,-100.934574,0101000020957F0000C74DE39C7F4B58C1061F29171498...,KFC,NaN,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,completely,low,NaN,familiar,f,closed,none
24,135013,18.917441,-99.165945,0101000020957F0000D241E94E7B715AC119862B3B1E41...,Giovannis,40 Norte Civac 1RA. Seccion,Jiutepec,Morelos,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,low,NaN,familiar,f,closed,none
25,135042,22.159357,-100.973411,0101000020957F0000C66BB014FC4658C17CFE8D93D2A1...,Restaurant Oriental Express,Tangamanga 7 Tangamanga,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
26,132768,18.925773,-99.232636,0101000020957F000000DD3546816E5AC119D4BD17FD54...,Mariscos Tia Licha,avenida salvador montiel,cuernavaca,morelos,mexico,NaN,...,No_Alcohol_Served,not permitted,casual,partially,medium,NaN,familiar,t,closed,none
27,132561,23.726819,-99.126506,0101000020957F000004457BB7AA8657C15F10835CD944...,cafe ambar,NaN,NaN,NaN,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,closed,none
28,135045,22.151189,-100.981790,0101000020957F00000B6735CA004858C108FD525CB2A4...,Restaurante la Gran Via,Venustiano Carranza 560 Centro,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,none,casual,no_accessibility,high,lagranvia.com.mx,familiar,f,closed,none
29,132847,22.144336,-100.937382,0101000020957F00004717A23D474A58C17D1F10297098...,don burguers,r.b. anaya esq. florencia,slp,slp,mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,low,NaN,familiar,f,open,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,134996,18.923429,-99.216413,0101000020957F0000340233E7476F5AC132844E2A2C50...,Sanborns Casa Piedra,Lomas del Mirador,Cuernavaca,Morelos,Mexico,NaN,...,Wine-Beer,only at bar,informal,no_accessibility,medium,NaN,familiar,t,closed,Internet
101,132755,22.153324,-101.019546,0101000020957F000026CADE45A14658C1F011EBCA55AF...,La Estrella de Dimas,Av. de los Pintores,San Luis Potosi,S.L.P.,Mexico,NaN,...,No_Alcohol_Served,none,informal,partially,medium,NaN,familiar,f,closed,variety
102,135043,22.185756,-100.944518,0101000020957F00006B9D7207BE4358C12419118D0598...,pizza clasica,524 Soledad de Graciano Sanchez,Soledad,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
103,132654,23.735523,-99.129588,0101000020957F000040E8F628488557C18224E8B94845...,Carnitas Mata Calle 16 de Septiembre,16 de Septiembre,victoria,tamaulipas,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,closed,none
104,135049,22.135011,-101.028600,0101000020957F00005DAD35642E4958C11BBCDE4A02B3...,Restaurante de Mariscos la Langosta,Cordillera de Los Alpes 675 Loma Verde,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
105,135073,22.147175,-100.974269,0101000020957F0000D010A853D34858C116A1EA51CAA2...,Restaurante Bar El Gallinero,Pascual M. Hernandez 210 Centro,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,section,informal,no_accessibility,high,NaN,familiar,f,closed,none
106,132560,23.752304,-99.166913,0101000020957F0000FC60BDA8E88157C1B2C357D6DA4E...,puesto de gorditas,frente al tecnologico,victoria,tamaulipas,mexico,NaN,...,No_Alcohol_Served,permitted,informal,no_accessibility,low,NaN,familiar,f,open,none
107,134976,18.916654,-99.227110,0101000020957F00002838E29F19705AC1BC368BDAC753...,Log Yin,NaN,NaN,NaN,NaN,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,low,NaN,familiar,f,closed,none
108,135075,22.139573,-100.991564,0101000020957F0000332AE8AF824958C15A4195A82CA8...,Mariscos El Pescador,Himno Nacional 2104 Tangamanga,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
109,132660,23.752943,-99.164679,0101000020957F00003D7905C9DC8157C13FCD1AB7334E...,carnitas mata calle Emilio Portes Gil,Emilio Portes Gil,victoria,tamaulipas,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,closed,none
110,132921,22.150305,-100.989134,0101000020957F00006376BB64EF4758C1013687E5D7A6...,crudalia,NaN,NaN,NaN,NaN,NaN,...,Wine-Beer,section,casual,completely,low,NaN,quiet,f,open,none
111,132594,23.752168,-99.165709,0101000020957F00003AE4C6DBF48157C1CE38ECC1864E...,tacos de barbacoa enfrente del Tec,NaN,NaN,NaN,NaN,NaN,...,No_Alcohol_Served,not permitted,informal,completely,low,NaN,familiar,f,open,none
112,134986,18.928798,-99.239513,0101000020957F00002A0D05E2D96D5AC1AB058CB1EC56...,Restaurant Las Mananitas,Ricardo Linares 107,Cuernavaca,Morelos,Mexico,NaN,...,Wine-Beer,none,formal,no_accessibility,high,lasmananitas.com.mx,familiar,f,closed,none
113,135062,22.153703,-100.979033,0101000020957F0000D177B9CFB14758C162A211E1C2A3...,Restaurante El Cielo Potosino,Julian de Los Reyes 400 Centro,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
114,132766,18.910178,-99.231544,0101000020957F000043A319BA06715AC1944336987755...,Mikasa,Himno nacional esq. Blvd. Juarez,Cuernavaca,Morelos,Mexico,NaN,...,Wine-Beer,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
115,135088,18.876011,-99.219890,0101000020957F0000E14AD4DBC7765AC1F7B33C85B153...,Cafeteria cenidet,Interior Internado Palmira SN,Cuernavaca,Morelos,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,no_accessibility,low,www.cenidet.edu.mx,quiet,f,closed,none
116,135058,22.165587,-101.001273,0101000020957F0000EB71019D424558C15CC5404365A9...,Restaurante Tiberius,Munoz Sn Centro,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,t,closed,none
117,132754,22.147738,-100.990616,0101000020957F00002493B678494858C1AD55D2316BA7...,Cabana Huasteca,Cuauhtemoc 455,San Luis Potosi,S.L.P.,Mexico,NaN,...,No_Alcohol_Served,none,informal,partially,medium,NaN,familiar,f,closed,none
118,132584,23.752365,-99.165288,0101000020957F000048C65BA7EF8157C177F2344D664E...,Gorditas Dona Tota,NaN,NaN,NaN,NaN,NaN,...,No_Alcohol_Served,not permitted,informal,completely,medium,NaN,familiar,t,closed,none
119,135032,22.152481,-100.973486,0101000020957F000017D69FF5084858C1A8F2188740A2...,Cafeteria y Restaurant El Pacifico,Constitucion 200 Centro,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,section,informal,no_accessibility,medium,NaN,familiar,f,closed,none
120,135028,22.146658,-100.987219,0101000020957F0000B4F00BDD8B4858C10AC3619C83A6...,La Virreina,Av. Carranza 830,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none
121,135085,22.150802,-100.982680,0101000020957F00009F823DA6094858C18A2D4D37F9A4...,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,NaN,familiar,f,closed,none
122,132663,23.752511,-99.166954,0101000020957F0000FDF8D26EE08157C1FEDB6A1FDB4E...,tacos abi,NaN,victoria,tamaulipas,mexico,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,closed,none
123,132626,23.737583,-99.135132,0101000020957F0000AA7883ADD88457C1FA651328BA46...,la perica hamburguesa,NaN,victoria,tamaulipas,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,medium,NaN,familiar,t,closed,none
124,132583,18.922290,-99.234332,0101000020957F0000FBE7171F056F5AC1E8A6C0A5AF55...,McDonalds Centro,Rayon sn col. Centro,Cuernavaca,Morelos,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,partially,low,no,familiar,t,closed,none
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,completely,medium,NaN,familiar,f,closed,none
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,NaN,NaN,NaN,NaN,NaN,...,Wine-Beer,not permitted,informal,no_accessibility,medium,NaN,quiet,f,closed,Internet
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,closed,none
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,NaN,NaN,NaN,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,closed,none

#### Concatenate All restaurent file together of common column placeID

In [180]:
restaurant_all = np.concatenate((chefmozaccepts_df.placeID, chefmozcuisine_df.placeID, chefmozhours4_df.placeID, chefmozparking_df.placeID, geoplaces2_df.placeID))
restaurant_all = np.sort(np.unique(restaurant_all) ) # All the unique placeID's
print(len(restaurant_all))

938

In [181]:
restaurant_all

array([132001, 132002, 132003, 132004, 132005, 132006, 132007, 132008,
       132009, 132010, 132012, 132013, 132014, 132015, 132016, 132017,
       132018, 132019, 132020, 132021, 132022, 132023, 132024, 132025,
       132026, 132028, 132030, 132031, 132083, 132087, 132092, 132094,
       132096, 132097, 132098, 132100, 132101, 132102, 132103, 132105,
       132106, 132107, 132108, 132109, 132111, 132114, 132115, 132116,
       132118, 132119, 132120, 132121, 132125, 132126, 132127, 132128,
       132130, 132131, 132132, 132133, 132136, 132137, 132138, 132145,
       132146, 132147, 132148, 132155, 132156, 132157, 132159, 132160,
       132161, 132162, 132163, 132164, 132165, 132166, 132167, 132171,
       132174, 132175, 132177, 132180, 132182, 132184, 132186, 132187,
       132191, 132192, 132201, 132203, 132204, 132206, 132207, 132208,
       132209, 132210, 132211, 132212, 132213, 132214, 132215, 132216,
       132217, 132218, 132220, 132221, 132223, 132225, 132226, 132228,
       132229, 132230, 132231, 132232, 132233, 132234, 132235, 132237,
       132238, 132239, 132240, 132242, 132243, 132244, 132245, 132246,
       132247, 132249, 132250, 132253, 132255, 132257, 132258, 132262,
       132265, 132266, 132268, 132269, 132270, 132271, 132272, 132273,
       132274, 132275, 132280, 132281, 132283, 132284, 132289, 132292,
       132293, 132294, 132295, 132296, 132297, 132298, 132299, 132300,
       132301, 132302, 132306, 132310, 132312, 132315, 132316, 132317,
       132318, 132319, 132321, 132324, 132326, 132328, 132329, 132330,
       132331, 132332, 132333, 132335, 132336, 132337, 132339, 132341,
       132342, 132343, 132344, 132345, 132346, 132347, 132348, 132349,
       132350, 132351, 132352, 132353, 132354, 132355, 132356, 132357,
       132358, 132359, 132360, 132361, 132362, 132363, 132364, 132365,
       132366, 132367, 132372, 132377, 132380, 132381, 132384, 132386,
       132387, 132389, 132392, 132393, 132395, 132396, 132398, 132399,
       132402, 132406, 132407, 132408, 132409, 132410, 132413, 132414,
       132417, 132419, 132421, 132425, 132429, 132430, 132432, 132433,
       132434, 132435, 132436, 132437, 132438, 132439, 132440, 132441,
       132442, 132443, 132444, 132445, 132446, 132447, 132448, 132449,
       132450, 132451, 132452, 132453, 132454, 132455, 132456, 132457,
       132458, 132459, 132464, 132468, 132469, 132470, 132474, 132477,
       132478, 132479, 132481, 132482, 132483, 132484, 132485, 132487,
       132488, 132491, 132493, 132498, 132509, 132511, 132513, 132514,
       132517, 132518, 132519, 132521, 132522, 132523, 132524, 132525,
       132526, 132527, 132528, 132529, 132530, 132531, 132532, 132533,
       132535, 132536, 132537, 132538, 132539, 132540, 132541, 132542,
       132543, 132544, 132545, 132546, 132547, 132548, 132549, 132550,
       132551, 132555, 132557, 132560, 132561, 132562, 132563, 132564,
       132565, 132566, 132567, 132568, 132569, 132570, 132571, 132572,
       132573, 132574, 132575, 132576, 132577, 132578, 132579, 132580,
       132581, 132582, 132583, 132584, 132585, 132586, 132587, 132588,
       132589, 132590, 132591, 132592, 132593, 132594, 132595, 132596,
       132597, 132598, 132599, 132600, 132601, 132602, 132603, 132604,
       132605, 132606, 132607, 132608, 132609, 132610, 132611, 132612,
       132613, 132614, 132615, 132616, 132617, 132618, 132619, 132620,
       132621, 132622, 132623, 132624, 132625, 132626, 132628, 132629,
       132630, 132631, 132632, 132633, 132634, 132635, 132636, 132637,
       132638, 132639, 132640, 132641, 132642, 132643, 132644, 132645,
       132646, 132647, 132648, 132649, 132650, 132651, 132652, 132653,
       132654, 132655, 132656, 132657, 132658, 132659, 132660, 132661,
       132662, 132663, 132664, 132665, 132666, 132667, 132668, 132669,
       132670, 132671, 132672, 132673, 132674, 132675, 132676, 132677,
       132678, 132679, 132680, 132681, 132682, 132683, 132684, 132685,
       132686, 132687, 132688, 132689, 132690, 132691, 132692, 132693,
       132694, 132695, 132696, 132697, 132698, 132699, 132700, 132701,
       132702, 132703, 132704, 132705, 132706, 132707, 132708, 132709,
       132710, 132711, 132712, 132713, 132714, 132715, 132716, 132717,
       132718, 132719, 132720, 132721, 132722, 132723, 132724, 132725,
       132726, 132727, 132728, 132729, 132730, 132731, 132732, 132733,
       132734, 132735, 132736, 132737, 132738, 132739, 132740, 132741,
       132742, 132743, 132744, 132745, 132746, 132747, 132748, 132749,
       132750, 132751, 132752, 132753, 132754, 132755, 132756, 132757,
       132758, 132759, 132760, 132761, 132762, 132763, 132764, 132765,
       132766, 132767, 132768, 132769, 132770, 132771, 132772, 132773,
       132774, 132775, 132776, 132777, 132778, 132779, 132780, 132781,
       132782, 132783, 132784, 132785, 132786, 132787, 132788, 132789,
       132790, 132791, 132792, 132793, 132794, 132795, 132796, 132797,
       132798, 132799, 132801, 132802, 132803, 132804, 132805, 132806,
       132807, 132808, 132809, 132810, 132811, 132812, 132813, 132815,
       132816, 132817, 132818, 132819, 132820, 132821, 132822, 132823,
       132824, 132825, 132826, 132827, 132828, 132829, 132830, 132831,
       132832, 132833, 132834, 132835, 132836, 132837, 132838, 132839,
       132840, 132841, 132842, 132843, 132844, 132845, 132846, 132847,
       132848, 132849, 132850, 132851, 132852, 132853, 132854, 132855,
       132856, 132857, 132858, 132859, 132860, 132861, 132862, 132863,
       132864, 132865, 132866, 132867, 132868, 132869, 132870, 132871,
       132872, 132873, 132874, 132875, 132876, 132877, 132878, 132879,
       132880, 132881, 132882, 132883, 132884, 132885, 132886, 132887,
       132888, 132889, 132890, 132891, 132892, 132893, 132894, 132895,
       132896, 132897, 132898, 132899, 132900, 132901, 132902, 132903,
       132904, 132905, 132906, 132907, 132908, 132909, 132910, 132911,
       132912, 132913, 132914, 132915, 132916, 132917, 132918, 132919,
       132920, 132921, 132922, 132923, 132924, 132925, 132926, 132927,
       132928, 132929, 132930, 132931, 132932, 132933, 132934, 132935,
       132936, 132937, 132938, 132939, 132940, 132941, 132942, 132943,
       132944, 132945, 132946, 132947, 132948, 132950, 132951, 132953,
       132954, 132955, 132956, 132957, 132958, 132959, 132960, 132961,
       132962, 132963, 132964, 132965, 132966, 132967, 132968, 132969,
       132970, 132971, 132972, 132973, 132974, 132975, 132976, 132977,
       132978, 132979, 132980, 132981, 132982, 132983, 132984, 132985,
       132986, 132992, 132993, 132994, 132995, 132996, 132997, 132998,
       132999, 133000, 133001, 133002, 133003, 133004, 133005, 133006,
       133007, 133008, 133009, 133010, 133011, 133012, 133013, 133014,
       133015, 133016, 133017, 133018, 133019, 133020, 133021, 133022,
       133023, 133024, 133025, 133026, 133027, 133028, 133029, 133030,
       133031, 133032, 133033, 133034, 133035, 133036, 133037, 133038,
       133039, 133040, 133041, 133042, 133043, 133047, 133048, 133049,
       134970, 134971, 134972, 134973, 134974, 134975, 134976, 134977,
       134978, 134979, 134980, 134981, 134982, 134983, 134984, 134985,
       134986, 134987, 134988, 134989, 134990, 134991, 134992, 134993,
       134994, 134995, 134996, 134997, 134998, 134999, 135000, 135001,
       135002, 135003, 135004, 135005, 135006, 135007, 135008, 135009,
       135010, 135011, 135012, 135013, 135014, 135015, 135016, 135017,
       135018, 135019, 135020, 135021, 135022, 135023, 135024, 135025,
       135026, 135027, 135028, 135029, 135030, 135031, 135032, 135033,
       135034, 135035, 135036, 135037, 135038, 135039, 135040, 135041,
       135042, 135043, 135044, 135045, 135046, 135047, 135048, 135049,
       135050, 135051, 135052, 135053, 135054, 135055, 135056, 135057,
       135058, 135059, 135060, 135061, 135062, 135063, 135064, 135065,
       135066, 135067, 135068, 135069, 135070, 135071, 135072, 135073,
       135074, 135075, 135076, 135077, 135078, 135079, 135080, 135081,
       135082, 135084, 135085, 135086, 135088, 135089, 135090, 135091,
       135092, 135093, 135094, 135097, 135098, 135099, 135100, 135101,
       135102, 135103, 135104, 135105, 135106, 135107, 135108, 135109,
       135110, 135111])

Note: Here we concatenate all restaurant files according to their placeID, it will give all common placeID which is present in all five .csv file. Finally, we get total 938 placeID which is unique.

### Explore the user item rating files
#### rating_final.csv

In [182]:
rating_final_df.columns

Index(['userID', 'placeID', 'rating', 'food_rating', 'service_rating'], dtype='object')

In [183]:
rating_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
userID            1161 non-null object
placeID           1161 non-null int64
rating            1161 non-null int64
food_rating       1161 non-null int64
service_rating    1161 non-null int64
dtypes: int64(4), object(1)
memory usage: 45.4+ KB

In [184]:
rating_final_df.shape

(1161, 5)

In [185]:
rating_final_df.isnull().sum()

userID            0
placeID           0
rating            0
food_rating       0
service_rating    0
dtype: int64

In [186]:
rating_final_df[['rating','food_rating','service_rating']].describe()

            rating  food_rating  service_rating
count  1161.000000  1161.000000     1161.000000
mean      1.199828     1.215332        1.090439
std       0.773282     0.792294        0.790844
min       0.000000     0.000000        0.000000
25%       1.000000     1.000000        0.000000
50%       1.000000     1.000000        1.000000
75%       2.000000     2.000000        2.000000
max       2.000000     2.000000        2.000000

In [187]:
rating_final_df.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [188]:
len(rating_final_df.placeID.unique())

130